メンテナンステスト
<div style="padding-bottom:10px;">&nbsp;</div>

<div class="modal-dialog">
	<div class="modal-content">

		  <div class="modal-header">
			<%= form_tag( {:action=>'attack_list_maintenance_bulk_owner_csv'} ) do %>
				<%= hidden_field_tag :sid,  @biru_trust_user.id %>
			    <h4 class="modal-title" >貸主メンテナンス　<%= submit_tag 'ファイルに出力' , :class=>"btn btn-sm btn-primary", :style=>"margin-left:20px;" %>　</h4>
			<% end %>
		  </div>
  
		  <div class="modal-body">
	  	
			<%= form_tag( {:action=>'owner_building_list'},{:name=>'trust_search'} ) do %>
				<%= hidden_field_tag :sid,  @biru_trust_user.id %>
				<input type="file" id="file" style="display:none;" onchange="$('#fake_input_file').val($(this).val())">
				<input id="fake_input_file" readonly type="text" value=""  onClick="$('#file').click();">
				<input type="button" value="ファイル選択" onClick="$('#file').click();">
				<%= submit_tag '取り込み' , :class=>"btn btn-sm btn-primary", :style=>"margin-left:20px;" %>
			<% end %>

		  </div>

	</div>
</div>
<div style="padding-bottom:10px;">&nbsp;</div>

<div class="modal-dialog">
	<div class="modal-content">

		  <div class="modal-header">
			<%= form_tag( {:action=>'owner_building_list'},{:name=>'trust_search'} ) do %>
				<%= hidden_field_tag :sid,  @biru_trust_user.id %>
			    <h4 class="modal-title" >物件メンテナンス<%= submit_tag 'ファイルに出力' , :class=>"btn btn-sm btn-success", :style=>"margin-left:20px;" %>　</h4>
			<% end %>
		  </div>
  
		  <div class="modal-body">
	  	
			<%= form_tag( {:action=>'owner_building_list'},{:name=>'trust_search'} ) do %>
				<%= hidden_field_tag :sid,  @biru_trust_user.id %>
				<input type="file" id="file" style="display:none;" onchange="$('#fake_input_file').val($(this).val())">
				<input id="fake_input_file" readonly type="text" value=""  onClick="$('#file').click();">
				<input type="button" value="ファイル選択" onClick="$('#file').click();">
				<%= submit_tag '取り込み' , :class=>"btn btn-sm btn-success", :style=>"margin-left:20px;" %>
			<% end %>

		  </div>

	</div>
</div>

