<script type="text/javascript">
	
	init_jqgrid_trust_manager();
	
	function nvl(value)
	{
		ret = "";
		
		if(value == null){
			ret = "0";
		}else
		{
			ret = value;
		}
		
		return ret;
	}

	function formatter_rank_all(cellValue, options, rowdata, action){
	    return "<div style='text-align:center;'><a style='text-decoration: underline;' href='/trust_managements/search?sid=" + rowdata.biru_user_id + "' onclick='javascript:screen_block();' >" + nvl(cellValue) + "</a></div>";
	}

	function formatter_rank_c_over(cellValue, options, rowdata, action){
	    return "<div style='text-align:center;'><a style='text-decoration: underline' href='/trust_managements/owner_building_list?sid=" + rowdata.biru_user_id + "&rank=S,A,B,C' onclick='javascript:screen_block();'>" + nvl(cellValue) + "</a></div>";
	}
	
	function formatter_rank_s(cellValue, options, rowdata, action){
	    return "<div style='text-align:center;'><a style='text-decoration: underline' href='/trust_managements/owner_building_list?sid=" + rowdata.biru_user_id + "&rank=S' onclick='javascript:screen_block();' >" + nvl(cellValue) + "</a></div>";
	}

	function formatter_rank_a(cellValue, options, rowdata, action){
	    return "<div style='text-align:center;'><a style='text-decoration: underline' href='/trust_managements/owner_building_list?sid=" + rowdata.biru_user_id + "&rank=A' onclick='javascript:screen_block();'>" + nvl(cellValue) + "</a></div>";
	}
	
	function formatter_rank_b(cellValue, options, rowdata, action){
	    return "<div style='text-align:center;'><a style='text-decoration: underline' href='/trust_managements/owner_building_list?sid=" + rowdata.biru_user_id + "&rank=B' onclick='javascript:screen_block();'>" + nvl(cellValue) + "</a></div>";
	}

	function formatter_rank_c(cellValue, options, rowdata, action){
	    return "<div style='text-align:center;'><a style='text-decoration: underline' href='/trust_managements/owner_building_list?sid=" + rowdata.biru_user_id + "&rank=C' onclick='javascript:screen_block();'>" + nvl(cellValue) + "</a></div>";
	}

	function formatter_rank_d(cellValue, options, rowdata, action){
	    return "<div style='text-align:center;'><a style='text-decoration: underline' href='/trust_managements/owner_building_list?sid=" + rowdata.biru_user_id + "&rank=D' onclick='javascript:screen_block();'>" + nvl(cellValue) + "</a></div>";
	}

	function formatter_rank_etc(cellValue, options, rowdata, action){
	    return "<div style='text-align:center;'><a style='text-decoration: underline' href='/trust_managements/owner_building_list?sid=" + rowdata.biru_user_id + "&rank=W,X,Y,Z' onclick='javascript:screen_block();'>" + nvl(cellValue) + "</a></div>";
	}
	
	function formatter_report(cellValue, options, rowdata, action){
		return "<a style='text-decoration: underline' href='javascript:win_trust_report(" + rowdata.biru_user_id + "," + <%= @month %> + ");'>" + cellValue + "</a>"
	}
	
	// 委託契約リストを作成
	function init_jqgrid_trust_manager(){
		// 列名の定義
		var col_names = ["biru_user_id", "エリア", "担当者", "アタックリスト","登録件数", "C以上", "Ｓ","Ａ","Ｂ","Ｃ","Ｄ", "Ｗ,Ｘ,Ｙ,Ｚ", "目標", "実績", "面談", "目標", "実績", "反響", "目標", "実績", "会話", "目標", "実績" , "目標", "実績" ];
	
		// 列属性の定義
		var col_model = [
		  {name:"biru_user_id", index:"biru_user_id", align:"left",classes:"no_class", hidden:true}
		 ,{name:"shop_name", index:"shop_name", width:250, align:"left", classes:"no_class"}
  		 ,{name:"biru_usr_name", index:"biru_usr_name", width:300, align:"left", classes:"no_class", formatter:formatter_report}
 		 ,{name:"attack_list", index:"attack_list", width:200, align:"left", classes:"no_class", hidden:true}
		 
 		 ,{name:"rank_all", index:"rank_all", align:"right", classes:"no_class", formatter:formatter_rank_all}
 		 ,{name:"rank_c_over", index:"rank_c_over", align:"right", classes:"no_class", formatter:formatter_rank_c_over}
 		 ,{name:"rank_s", index:"rank_s", align:"right", classes:"no_class", formatter:formatter_rank_s}
 		 ,{name:"rank_a", index:"rank_a", align:"right", classes:"no_class", formatter:formatter_rank_a}
 		 ,{name:"rank_b", index:"rank_b", align:"right", classes:"no_class", formatter:formatter_rank_b}
 		 ,{name:"rank_c", index:"rank_c", align:"right", classes:"no_class", formatter:formatter_rank_c}
 		 ,{name:"rank_d", index:"rank_d", align:"right", classes:"no_class", formatter:formatter_rank_d}
 		 ,{name:"rank_etc", index:"rank_etc", align:"right", classes:"no_class", formatter:formatter_rank_etc}
		 
 		 ,{name:"visit_plan", index:"visit_plan", align:"right", classes:"no_class"}
 		 ,{name:"visit_num_all", index:"visit_num_all", align:"right", classes:"no_class"}
 		 ,{name:"visit_num_meet", index:"visit_num_meet", align:"right", classes:"no_class"}

 		 ,{name:"dm_plan", index:"dm_plan", align:"right", classes:"no_class"}
 		 ,{name:"dm_num_send", index:"dm_num_send", align:"right", classes:"no_class"}
 		 ,{name:"dm_num_recv", index:"dm_num_recv", align:"right", classes:"no_class"}

 		 ,{name:"tel_plan", index:"tel_plan", align:"right", classes:"no_class"}
 		 ,{name:"tel_num_call", index:"tel_num_call", align:"right", classes:"no_class"}
 		 ,{name:"tel_num_talk", index:"tel_num_talk", align:"right", classes:"no_class"}
		 
		 
 		 ,{name:"suggestion_plan", index:"suggestion_plan", align:"right", classes:"no_class"}
 		 ,{name:"suggestion_num", index:"suggestion_num", align:"right", classes:"no_class"}
		 
 		 ,{name:"trust_plan", index:"trust_plan", align:"right", classes:"no_class"}
 		 ,{name:"trust_num", index:"trust_num", align:"right", classes:"no_class"}
		 
		];
	

		// その他の設定
		jqgrid_opt = {
			 table_name:'building_table'
			,fotter_name:'building_pager'
			,div_name:'div_dummy_02'
			,caption:'<%= @month.slice(0,4) + '年' + @month.slice(4,2) + '月度' %>　受託活動報告'
			,event_type:30
			,shrinkFit:true
			,multiselect:true
		};
		
		// jqgrid作成
		$(function(){
			
			var table_div = $('#' + jqgrid_opt.table_name);
			var div_box = $('#' + jqgrid_opt.div_name);
	
			table_div.jqGrid({
			  	data : gon.data_list,  //表示したいデータ
			  	datatype : "local",            //データの種別 他にjsonやxmlも選べます。しかし、私はlocalが推奨です。
			  	colNames : col_names,           //列の表示名
			  	colModel : col_model,   //列ごとの設定
			  	caption : jqgrid_opt.caption,    //ヘッダーのキャプション
				
				loadComplete : function () {  // 幅の%調整。読み込みが完了したあと指定のdivの幅と高さを%でとってきて設定
					table_div.jqGrid('setGridWidth', div_box.width(), jqgrid_opt.shrinkFit);
				    table_div.jqGrid('setGridHeight', div_box.height(), jqgrid_opt.shrinkFit);
				},
		        onSelectRow: function(id) {
		           // idにはリストの選択した行番号が入ってくる
		   
				   // if(jqgrid_opt.event_type == 1 ){
				   // 					   link_shop_click(table_div.getRowData(id).id);
				   // }else if(jqgrid_opt.event_type == 2){
				   // 					   link_building_click(table_div.getRowData(id).id);
				   // }else if(jqgrid_opt.event_type == 30){
				   // 					   link_owner_click(table_div.getRowData(id).owner_id);
				   // }
		        },
			    onSelectRow: function(id) {
					// // クリックイベント
					// 				    data = jQuery('#building_table').getRowData(id);
					// 			 		screen_block();
					//
					// location.href = location.protocol + '//' + location.host + '/trust_managements/' + data.attack_list
					//
					
				},
				// onCellSelect: function(rowid, iCol, cellcontent){
				// 	alert(rowid);
				// 	alert(iCol);
				// 	alert(cellcontent);
				//
				// }
				
			  	//shrinkToFit : false,　　        //画面サイズに依存せず固定の大きさを表示する設定
			});
  
			//   //検索追加
			// table_div.jqGrid('navGrid',('#' + fotter_name),{
			// 	add:false,   //おまじない
			// 	edit:false,  //おまじない
			// 	del:false,   //おまじない
			// 	search:{     //検索オプション
			// 	odata : ['equal', 'not equal', 'less', 'less or equal',
			// 	       'greater','greater or equal', 'begins with',
			// 	       'does not begin with','is in','is not in','ends with',
			// 	       'does not end with','contains','does not contain']
			// 	}   //検索の一致条件を入れられる
			// });
  
			//filterバー追加
			
	        table_div.jqGrid('setGroupHeaders', {
	          useColSpanStyle: true,
	          groupHeaders:[
	            {startColumnName: 'rank_all', numberOfColumns: 8, titleText: '見込みランク'},
	            {startColumnName: 'visit_plan', numberOfColumns: 3, titleText: '訪問'},
	            {startColumnName: 'dm_plan', numberOfColumns: 3, titleText: 'ダイレクトメール'},
	            {startColumnName: 'tel_plan', numberOfColumns: 3, titleText: '電話アプローチ'},
	            {startColumnName: 'suggestion_plan', numberOfColumns: 2, titleText: '提案'},
	            {startColumnName: 'trust_plan', numberOfColumns: 2, titleText: '受託'},
	          ]
	        });
		});
	}
	
    $(window).bind('resize', function () {
        $('#building_table').setGridWidth($(window).width() - 100 )
                    .setGridHeight($(window).height() * 0.4 - 50);

        $('#building_pager').setGridWidth($(window).width() - 100 )
                    .setGridHeight($(window).height() * 0.4 - 50);
					
					
    }).trigger('resize');
	
	
	function dropsort() {
		document.yyyymm.submit();
	}
		
</script>

<div style="padding:10px 80px 10px 80px;">
	
	<div id="div_dummy_02" style="width:100%;height:90%;">
		
		<div><h2>管理受託　活動報告</h2></div>
		<div style="padding-bottom:5px">
			<%= form_tag({:action => :index}, {:name => 'yyyymm', :onchange=>'javascript:screen_block();'}) do %>
				<%= select_tag(:month, options_for_select(@calender, @month),  :onchange=>"javascript:dropsort();") %>
				<span style="padding-left:100px;text-align:right">最終更新日：<%= @data_update.update_datetime if @data_update %></span>
			<% end %>
		</div>

		<table id="building_table"></table>
		<div id = "building_pager"></div>
		<div style="padding-top:10px;">
			<ul>
				<li>見込みランクの件数をクリックすると詳細画面へ遷移します。詳細画面は月指定に関係なく最新の見込みランクが表示されます。</li>
				<li style="color:blue">1000件以上の物件を表示すると表示に時間がかかります。なるべく「登録件数」でなく「ランクC以上」を使用してください。</li>
				<li>担当者名をクリックすると月次活動報告画面が表示されます</li>
			</ul>
		</div>
	</div>
	
	<div class="table-responsive panel panel-default" style="margin-top:20px;width:300px;float:left">
		<table class="table table-bordered table-condensed" >
	      <thead>
	        <tr>
	          <th class="active">ランク</th>
	        </tr>
	      </thead>
	      <tbody>
	        <% AttackState.all.each do |status| %>
	        <tr>
	          <td><%= status.name %></td>
	        </tr>
	        <% end %>
	      </tbody>
	    </table>
	</div>
	<div class="table-responsive panel panel-default" style="margin-top:20px;margin-left:20px;width:500px;float:left">
		<table class="table table-bordered table-condensed" >
	      <thead>
	        <tr>
	          <th class="active">連絡事項</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td style="height:250px;"><div style="color:blue;pading-left:5px;">・担当者名をクリックすると受託月報が表示されるようになりました。(2015/05/07)</div></td>
	        </tr>
	      </tbody>
	    </table>
	</div>
</div>
