<!-- For index -->

<div style="margin-left:100px;margin-right:100px;">
<h1>管理受託アタックリスト</h1>


<%# TODO:検索フィルタをかけられるのは、DBのカラムだけみたい。だから「貸主名／貸主CD」みたいなのを１列で検索することはできない。
　　だけど、貸主CD列やアタック貸主CD列を別で増やすのは冗長になるので、とりあえず貸主名だけを検索対象とする。
　　もし、貸主CDやアタック貸主CDの検索が必要になったら、その列を追加しかつ初期表示では非表示にする。そして貸主名の一部にリンクを置き、それを
　　クリックすると貸主CD列がでるようにしよう。※建物についても同様。2014/05/25
 %>


<div class="bs-example">
    <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">検索条件</a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
		  <div style="padding-left:30px;">
			<%= form_tag '/trust_managements/index' do %>
							<table class="attack-search">
								<tr>
									<td colspan="2">
										<table>
											<tr>
												<td style="text-align:right;width:100px;"><b>主担当者：</b></td>
												<td><label><%= text_field_tag 'main_person', '22222', :size=>5 %>&nbsp;柴田貴史</label></td>
												<td style="text-align:right;padding-left:50px;"><b>DM発送：</b></td>
												<td>
													<label><%= radio_button_tag 'dm[kbn]', 'ji_only' ,@ji_only_flg %>&nbsp;すべて</label>&nbsp;&nbsp;
													<label><%= radio_button_tag 'dm[kbn]', 'ta_only' ,true %>&nbsp;対象のみ</label>&nbsp;&nbsp;
													<label><%= radio_button_tag 'dm[kbn]', 'jita_both', @jita_both_flg %>&nbsp;対象外のみ</label>&nbsp;&nbsp;
												</td>
												
												
											</tr>
										</table>
									</td>
								</tr>
					
								<tr>
									<td style="text-align:right"><b>物件ランク：</b></td>
									<td>
										<table>
											<tr>
												<td>
													<label><%= radio_button_tag 'rank_um[kbn]', 'ta_only' ,true %>&nbsp;指定なし</label>&nbsp;&nbsp;
													<label><%= radio_button_tag 'rank_um[kbn]', 'jita_both', @jita_both_flg %>&nbsp;指定あり</label>&nbsp;&nbsp;
												</td>
												<td>
													<table>
														<tr>
															<td style="padding-right:15px;">（</td>
															<td style="padding-right:15px;"><label><%= check_box_tag('rank[s]', '1') %>&nbsp;Ｓ</label></td>
															<td style="padding-right:15px;"><label><%= check_box_tag('rank[a]', '1') %>&nbsp;Ａ</label></td>
															<td style="padding-right:15px;"><label><%= check_box_tag('rank[b]', '1') %>&nbsp;Ｂ</label></td>
															<td style="padding-right:15px;"><label><%= check_box_tag('rank[c]', '1') %>&nbsp;Ｃ</label></td>
															<td style="padding-right:15px;"><label><%= check_box_tag('rank[d]', '1') %>&nbsp;Ｄ</label></td>
															<td style="padding-right:15px;"><label><%= check_box_tag('rank[e]', '1') %>&nbsp;Ｅ</label></td>
															<td style="padding-right:15px;"><label><%= check_box_tag('rank[z]', '1') %>&nbsp;Ｚ</label></td>
															<td>）</td>
														</tr>
													</table>
												</td>
								
											</tr>
										</table>
									</td>
								</tr>
								
								<tr>
									<td style="text-align:right"><b>訪問リレキ：</b></td>
									<td>
										<table>
											<tr>
												<td>
													<label><%= radio_button_tag 'visit_um[kbn]', 'ta_only' ,true %>&nbsp;すべて</label>&nbsp;&nbsp;
													<label><%= radio_button_tag 'visit_um[kbn]', 'jita_both', @jita_both_flg %>&nbsp;履歴なし</label>&nbsp;&nbsp;
													<label><%= radio_button_tag 'visit_um[kbn]', 'jita_both', @jita_both_flg %>&nbsp;履歴あり</label>&nbsp;&nbsp;
										（&nbsp;&nbsp;<%= text_field_tag 'visit_s', '1999/01/01', :size=>10, :style=>'text-align:center;' %>&nbsp;〜&nbsp;<%= text_field_tag 'visit_e', '3000/01/01', :size=>10, :style=>'text-align:center;' %>&nbsp;&nbsp;）
												</td>
								
											</tr>
										</table>
									</td>
								</tr>
								
								<tr>
									<td style="text-align:right"><b>ＤＭリレキ：</b></td>
									<td>
										<table>
											<tr>
												<td>
													<label><%= radio_button_tag 'visit_um[kbn]', 'ta_only' ,true %>&nbsp;すべて</label>&nbsp;&nbsp;
													<label><%= radio_button_tag 'visit_um[kbn]', 'jita_both', @jita_both_flg %>&nbsp;履歴なし</label>&nbsp;&nbsp;
													<label><%= radio_button_tag 'visit_um[kbn]', 'jita_both', @jita_both_flg %>&nbsp;履歴あり</label>&nbsp;&nbsp;
										（&nbsp;&nbsp;<%= text_field_tag 'visit_s', '1999/01/01', :size=>10, :style=>'text-align:center;' %>&nbsp;〜&nbsp;<%= text_field_tag 'visit_e', '3000/01/01', :size=>10, :style=>'text-align:center;' %>&nbsp;&nbsp;）
												</td>
								
											</tr>
										</table>
									</td>
						
								</tr>
								<tr>
									<td style="text-align:right"><b>ＴＥLリレキ：</b></td>
									<td>
										<table>
											<tr>
												<td>
													<label><%= radio_button_tag 'visit_um[kbn]', 'ta_only' ,true %>&nbsp;すべて</label>&nbsp;&nbsp;
													<label><%= radio_button_tag 'visit_um[kbn]', 'jita_both', @jita_both_flg %>&nbsp;履歴なし</label>&nbsp;&nbsp;
													<label><%= radio_button_tag 'visit_um[kbn]', 'jita_both', @jita_both_flg %>&nbsp;履歴あり</label>&nbsp;&nbsp;
										（&nbsp;&nbsp;<%= text_field_tag 'visit_s', '1999/01/01', :size=>10, :style=>'text-align:center;' %>&nbsp;〜&nbsp;<%= text_field_tag 'visit_e', '3000/01/01', :size=>10, :style=>'text-align:center;' %>&nbsp;&nbsp;）
												</td>
								
											</tr>
										</table>
									</td>
						
								</tr>
								
					
							</table>

						
						</td>
					</tr>
				</table>
				<%= submit_tag '検索'%>
			<% end %>
	  	
		  </div>
		  
      </div>
    </div>
  </div>
</div>
</div>

<%= dump_filter_parameters_as_hidden_fields(@trust_arr) %>
<%= form_tag '/trust_managements/tack_out'  do %>
	<% if @selected %>
		<%= @selected.to_sentence %>
	<% end %>
	
	<div>
		<%= text_field_tag 'tack_msg' %>
		<button class='btn' style="margin-bottom:5px;" type='submit'>タックシール</button>
	</div>

	<%= grid(@trust_arr,  upper_pagination_panel: true ) do |g|

		g.action_column 

		g.column name: '管理営業所' , attribute: 'name', model: 'Shop', :html =>{ :style => 'width:200px;text-align:center;'}, custom_filter: Shop.find(:all).map{|pr| [pr.name, pr.name]}  do |obj| obj.building.shop.name if obj.building && obj.building.shop end
		# g.column name: '貸主CD' , attribute: 'book', model: 'Owner', :html =>{ :style => 'width:50px;text-align:center;'}  do |obj| obj.owner.attack_code if obj.owner end	
		g.column name: '貸主名' , attribute: 'name', model: 'Owner' do |obj|
		  if obj.owner
		  
			  if obj.owner.attack_code
		  	    str = obj.owner.name + ' ／ ' + 'A' + obj.owner.attack_code.to_s
			  else
	  	  	    str = obj.owner.name  + ' ／ ' + obj.owner.code.to_s
			  end
		  
			  #link_to(str, owner_show_path(obj.owner_id)) 
			  raw("<a href=""javascript:win_owner(" + obj.owner_id.to_s + ");"">" + str + "</a>")
		
		  end
		end
	
		g.column name: '貸主住所' , attribute: 'address', model: 'Owner' , :html =>{ :style => 'width:300px;'} do |obj| obj.owner.address if obj.owner end
		#g.column name: '建物CD' , attribute: 'attack_code', model: 'Building' , :html =>{ :style => 'width:50px;text-align:center;'}  do |obj| obj.building.attack_code if obj.building end
		g.column name: '建物名' , attribute: 'name', model: 'Building'  do |obj|
	  	  if obj.building
		  
	  		  if obj.building.attack_code
	  	  	    str = obj.building.name + ' ／ ' + 'A' + obj.building.attack_code.to_s
	  		  else
	    	  	str = obj.building.name  + ' ／ ' + obj.building.code.to_s
	  		  end
		  
	  		  #link_to(str, building_show_path(obj.building_id)) 
			  raw("<a href=""javascript:win_building(" + obj.building_id.to_s + ");"">" + str + "</a>")
	  	  end
		end
	
		g.column name: '建物住所' , attribute: 'address', model: 'Building', :html =>{ :style => 'width:300px;'}   do |obj| obj.building.address if obj.building end


	#    g.column  :html =>{ :style => 'width:80px;text-align:center;'} do |obj| 
	#		link_owner = 
	#		if obj.owner
	#			link_to('貸主',owner_show_path(obj.owner_id)) 
	#		else
	#			''
	#		end
	#	
	#		link_build = 
	#		if obj.building
	#			link_to('建物',building_show_path(obj.building)) 
	#		else
	#			''
	#		end
	#	
	#		link_owner + '／' + link_build
	#	
	#	end


	end%>
<% end %><!-- form_tag '/trust_managements/tack_out' -->

</div>

