<% content_for :header do %>
  <style type="text/css">
	
	a{
	  text-decoration:underline;	
	}
	
  </style>
  
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3&language=ja&libraries=visualization"></script>
<script type="text/javascript">


//-------------------
// グローバル変数定義
//-------------------
var convert_shop = [];
  
// 初期化処理
function initialize(){
	
    // infoウィンドウを１つだけ作成
    infoWnd = new google.maps.InfoWindow();
	
    // 表示用のmapCanvasを作成
    var mapDiv = document.getElementById("map_canvas");
    mapCanvas = new google.maps.Map(mapDiv, {
		 scaleControl: true
		,zoom: 19
		,minZoom: 2
    });
	
    // 初期表示位置を調整
    var bounds = new google.maps.LatLngBounds();
	
	/**********************************/
	// 訪問リレキ・DMリレキ・TELリレキを表示
	/**********************************/
	// 訪問リレキ
    visit_owner_arr = {}; // varを外してグローバル化
    for(var i in gon.visit_owner){
      pos = new google.maps.LatLng(gon.visit_owner[i].latitude, gon.visit_owner[i].longitude);
      bounds.extend(pos);

      visit_owner_arr[gon.visit_owner[i].id] = createMarker_trust_report({
        position : pos
        ,map : mapCanvas
        ,icon : "/assets/marker_blue.png"
        ,html : '<div style="font-size:5px;"><a href="javascript:win_owner(' + gon.visit_owner[i].id + ');">' + gon.visit_owner[i].name + '</a></div>'
        ,visible : true
	  　,draggable: true
      }, false);
    }

	// DMリレキ
    dm_owner_arr = {}; // varを外してグローバル化
    for(var i in gon.dm_owner){
      pos = new google.maps.LatLng(gon.dm_owner[i].latitude, gon.dm_owner[i].longitude);
      bounds.extend(pos);

      dm_owner_arr[gon.dm_owner[i].id] = createMarker_trust_report({
        position : pos
        ,map : mapCanvas
        ,icon : "/assets/marker_green.png"
        ,html : '<div style="font-size:5px;"><a href="javascript:win_owner(' + gon.dm_owner[i].id + ');">' + gon.dm_owner[i].name + '</a></div>'
        ,visible : true
	  　,draggable: true
      }, false);
    }

	// TELリレキ
    tel_owner_arr = {}; // varを外してグローバル化
    for(var i in gon.tel_owner){
      pos = new google.maps.LatLng(gon.tel_owner[i].latitude, gon.tel_owner[i].longitude);
      bounds.extend(pos);

      tel_owner_arr[gon.tel_owner[i].id] = createMarker_trust_report({
        position : pos
        ,map : mapCanvas
        ,icon : "/assets/marker_orange.png"
        ,html : '<div style="font-size:5px;"><a href="javascript:win_owner(' + gon.tel_owner[i].id + ');">' + gon.tel_owner[i].name + '</a></div>'
        ,visible : true
	  　,draggable: true
      }, false);
    }

	/******************************/
	// 見込みランクの高いものを表示
	/******************************/

    /* 営業所IDを添字、営業所CODEを値に変換用配列を作成します。 */
    for(var i in gon.all_shops){
      convert_shop[gon.all_shops[i].id] = parseInt(gon.all_shops[i].code);
    }
	
    /* 建物オブジェクトを作成 */
    build_arr = {}; // グローバル
    kyori_text = ""
    var pos;
    var idx = 0;
    var biru_latlngs = [];
    var populations = [];

    var building_to_owners = gon.rank_building_to_owners
    var buildings = gon.rank_buildings
    for(var i in buildings){
        pos = new google.maps.LatLng(buildings[i].latitude, buildings[i].longitude);

        <% if @search_type == 2 # 貸主の時、初期状態で非表示%>
          var build_disp = false
        <% else %>
          var build_disp = true
          bounds.extend(pos);
        <% end %>

        var shop_code = convert_shop[buildings[i].shop_id];

        build_arr[buildings[i].id] = createMarker_trust_report({
          position : pos
          ,map : mapCanvas
          ,icon : buildings[i].tmp_build_type_icon
          ,manage_icon : buildings[i].tmp_manage_type_icon
          ,build_type_icon : buildings[i].tmp_build_type_icon
          ,shadow : '/assets/marker_shadow.png'
          ,html : info_msg_biru_trust_report(buildings[i], building_to_owners[buildings[i].id])
          ,visible : build_disp
		  ,draggable: true
        }, true);

        /* 戸数別のヒートマップを作る為のオブジェクト */
        populations.push({
          location : pos
          ,weight : buildings[i].room_num
        })

        biru_latlngs[idx] = pos;
        idx = idx + 1;
    }

    /* 貸主オブジェクトを作成 */
    owner_arr = {}; // varを外してグローバル化
    var owners = gon.rank_owners
    var owner_to_buildings = gon.rank_owner_to_buildings
    var owner_icon;
    var owner_disp;

    for(var i in owners){
      pos = new google.maps.LatLng(owners[i].latitude, owners[i].longitude);

      <% if @search_type == 1 # 建物検索の時、初期状態で非表示%>
        owner_disp = false
      <% else %>
        owner_disp = true
        bounds.extend(pos);
      <% end %>

      // 貸主かどうかでアタックを決める。
      if( owners[i].code == null){
        owner_icon = "https://chart.googleapis.com/chart?chst=d_map_pin_icon&chld=home%7C0033FF"
      } else {
        owner_icon = "https://chart.googleapis.com/chart?chst=d_map_pin_icon&chld=home%7CFFFF00"
      }

      owner_arr[owners[i].id] = createMarker_trust_report({
        position : pos
        ,map : mapCanvas
        ,icon : owner_icon
        ,html : info_msg_owner(owners[i], owner_to_buildings[owners[i].id])
        ,visible : owner_disp
	  　,draggable: true
      }, false);
    }

    /* 委託契約CDのラインを引く */
    trust_arr = {}; // varを外してグローバル化
    var trusts = gon.rank_trusts
    for(var i in trusts){

      // 貸主マスタ・建物マスタに委託で指定した貸主CD・建物CDが存在することを確認
      if ( !owner_arr[trusts[i].owner_id] ){
          continue;
      }

      if ( !build_arr[trusts[i].building_id]){
          continue;
      }

      trust_arr[trusts[i].id] = new google.maps.Polyline({
         map : mapCanvas
        ,path : [owner_arr[trusts[i].owner_id].position, build_arr[trusts[i].building_id].position]
        ,strokeColor: gon.rank_manage_line_color[trusts[i].manage_type_id]
        ,strokeOpacity:0.5
        ,strokeWeight:3
        ,zIndex:1
      });

      // 初期状態は非表示
      trust_arr[trusts[i].id].set("visible", false);

      // ダブルクリック時のイベント登録
      trust_ev = trust_arr[trusts[i].id]
      owner_ev = owner_arr[trusts[i].owner_id]
      build_ev = build_arr[trusts[i].building_id]

      // クリックした時のオブジェクトを保存するために、イベントは関数呼び出しで登録する。
      create_relation_listener(trust_ev, owner_ev, build_ev)
    }

    /* 駅情報を表示する */
    station_arr = {}; // varを消してグローバル化
    station_circle01_arr = {}; // varを消してグローバル化
    station_circle02_arr = {}; // varを消してグローバル化
    var distination = new google.maps.MVCArray();
    var distination_arr = [];

    var stations = gon.stations
    for(var i in stations){

      pos = new google.maps.LatLng(stations[i].latitude, stations[i].longitude);
    //  bounds.extend(pos);
      
//        station_arr[stations[i].id] = createMarker_trust_report({
//          position : pos
//          ,map : mapCanvas
//          ,animation: google.maps.Animation.DROP
//         ,info_msg : stations[i].name
//        });

      /* 営業所の円を作成 */
      station_circle01_arr[stations[i].id] = create_circle(1000, mapCanvas, pos);
      station_circle02_arr[stations[i].id] = create_circle(2000, mapCanvas, pos);

      /* 距離を測る対象を設定 */
//      distination.push({name:stations[i].name, latLng:[stations[i].latitude,stations[i].longitude]});
//      distination_arr.push(pos);
    }

    mapCanvas.fitBounds(bounds);
	
	// 営業所の半径1KMを色づけ
    for(var item in station_circle01_arr){
      station_circle01_arr[item].set("visible", true);
    };	

}  // end initialize

	
google.maps.event.addDomListener(window, "load", initialize);


// 建物のInfoBoxを登録する。
function info_msg_biru_trust_report(biru, owners){
  var inner_text = "";
  var vhtml;
  
  for(var j in owners){
    inner_text = inner_text +
      '<li style="font-size:5px;">' +
      '  <a href="javascript:link_owner_click(' + owners[j].id + ',' + owners[j].latitude + ',' + owners[j].longitude + ')">' + owners[j].name + '</a></td>' +
      '</li>'
  }

  vhtml = '<div style="font-size:7px;padding:0px;margin:0px;"><a href="javascript:win_building(' + biru.id + ');">' + biru.name + '</a></div>' +
    '<!-- <div style="font-size:5px;margin-left:5px;margin-top:5px;"><label><input type="checkbox" onclick="this.blur();this.focus();" onchange="building_trust_disp(' + biru.id  + ', this.checked);" />&nbsp;貸主へリンク</label></div> -->' +
    '<!-- <ul style="padding:0px;margin-left:5px;margin-top:0px;padding-top:0px;">' + inner_text  + '</ul> -->';

  return vhtml;

}


function createMarker_trust_report(opts, open_flg){
  var marker = new google.maps.Marker(opts);

  var i_wind = new google.maps.InfoWindow(); //唯一のinfoWnd
  
  if(open_flg == true){
	  i_wind.setContent(opts.html);
	  i_wind.open(opts.map, marker);
  }

  google.maps.event.addListener(marker, "click", function(){
    // write_build(opts.info_msg);

    i_wind.close();
    i_wind.setContent(opts.html);
    i_wind.open(opts.map, marker);

    marker.set("visible", true);

  });

  return marker;
}



</script>
<% end %>
<div style="padding-left:20px;">
	<h3><%=  '管理受託月報 ' + @month[0,4] + '年' + @month[4,2] + '月度（' + @biru_trust_user.name + "さん）" %><span style="font-size:15px;margin-left:150px;"><%= link_to "＜＜前月", {:action=>'trust_user_report', :month=>@month_prev, :sid=>@biru_trust_user.id.to_s }, :style=>"text-decoration:none;" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "翌月＞＞", {:action=>'trust_user_report', :month=>@month_next, :sid=>@biru_trust_user.id.to_s }, :style=>"text-decoration:none;" %></span></h3>
	<div style="border-width:3px; border-style:solid; border-color:silver;width:800px;float:left;margin-right:20px;">
		<div id="map_canvas" style="width:100%;height:500px;border-color:blue"></div>
	</div>
	
	<div style="float:left;margin-bottom:20px;margin-right:20px;">
		<h4>今月度の行動</h4>
		<table class="table table-bordered" style="width:500px;">
			<thead>
				<tr class="active">
					<td style="font-weight:bold"></td>
					<td style="font-weight:bold;text-align:center">種別</td>
					<td style="font-weight:bold;text-align:center">計画</td>
					<td style="font-weight:bold;text-align:center">実績</td>
					<td style="font-weight:bold;text-align:center">達成率</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="text-align:center;"><%= image_tag('marker_blue.png') %></td>
					<td style="text-align:center;">訪問（うち在宅）</td>
					<td style="text-align:center;"><%= if @biru_user_monthly.trust_plan_visit then @biru_user_monthly.trust_plan_visit else '-' end %></td>
					<td style="text-align:center;"><%= @visit_num %>&nbsp;&nbsp;(<%= @visit_num_jsk %>)</td>
					<td style="text-align:center;"><%= disp_growth_rate(@biru_user_monthly.trust_plan_visit, @visit_num) %></td>
				</tr>
				<tr>
					<td style="text-align:center;"><%= image_tag('marker_green.png') %></td>
					<td style="text-align:center;">ＤＭ（うち反響）</td>
					<td style="text-align:center;"><%= if @biru_user_monthly.trust_plan_dm then @biru_user_monthly.trust_plan_dm else '-' end %></td>
					<td style="text-align:center;"><%= @dm_num %>&nbsp;&nbsp;(<%= @dm_num_jsk %>)</td>
					<td style="text-align:center;"><%= disp_growth_rate(@biru_user_monthly.trust_plan_dm, @dm_num) %></td>
				</tr>
				<tr>
					<td style="text-align:center;"><%= image_tag('marker_orange.png') %></td>
					<td style="text-align:center;">ＴＥＬ（うち応対）</td>
					<td style="text-align:center;"><%= if @biru_user_monthly.trust_plan_tel then @biru_user_monthly.trust_plan_tel else '-' end %></td>
					<td style="text-align:center;"><%= @tel_num %>&nbsp;&nbsp;(<%= @tel_num_jsk %>)</td>
					<td style="text-align:center;"><%= disp_growth_rate(@biru_user_monthly.trust_plan_tel, @tel_num) %></td>
				</tr>
				<tr>
					<td style="text-align:center;"><%= image_tag('http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=Z|00FF00|000000', :size=>"18x25")%></td>
					<td style="text-align:center;">受託（他社）</td>
					<td style="text-align:center;"><%= if @biru_user_monthly.trust_plan_contract then @biru_user_monthly.trust_plan_contract else '-' end %></td>
					<td style="text-align:center;"><%= @contract_num %>&nbsp;&nbsp;(<%= @contract_num_jisya %>)</td>
					<td style="text-align:center;"><%= disp_growth_rate(@biru_user_monthly.trust_plan_contract, @contract_num) %></td>
				</tr>
			</tbody>
		</table>
	</div>
	

	<div style="float:left;">
		<h4>翌月度の計画（<a data-toggle="modal" href="#myModal"  >編集</a>）</h4>
		<table class="table table-bordered" style="width:270px;">
			<thead>
				<tr class="active">
					<td style="font-weight:bold;text-align:center">種別</td>
					<td style="font-weight:bold;text-align:center">計画</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="text-align:center;">訪問</td>
					<td style="text-align:center;"><%= if @biru_user_monthly_next.trust_plan_visit then @biru_user_monthly_next.trust_plan_visit else '-' end %></td>
				</tr>
				<tr>
					<td style="text-align:center;">ＤＭ</td>
					<td style="text-align:center;"><%= if @biru_user_monthly_next.trust_plan_dm then @biru_user_monthly_next.trust_plan_dm else '-' end %></td>
				</tr>
				<tr>
					<td style="text-align:center;">ＴＥＬ</td>
					<td style="text-align:center;"><%= if @biru_user_monthly_next.trust_plan_tel then @biru_user_monthly_next.trust_plan_tel else '-' end %></td>
				</tr>
				<tr>
					<td style="text-align:center;">受託（他社）</td>
					<td style="text-align:center;"><%= if @biru_user_monthly_next.trust_plan_contract then @biru_user_monthly_next.trust_plan_contract else '-' end %></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	
	<div style="clear:both;padding-top:20px;">
		
		<table class="table table-bordered" style="width:800px;">
			<thead>
				<tr class="active">
					<td style="font-weight:bold"></td>
					<td style="font-weight:bold">見込ランク</td>
					<td style="font-weight:bold">建物</td>
					<td style="font-weight:bold">貸主</td>
					<td style="font-weight:bold">メモ</td>
				</tr>
			</thead>
			<tbody>
				<% @buildings.each do |biru| %>
				<tr>
				    <% ats = AttackState.find_by_code(biru.tmp_manage_type_icon) %>
					<td style="text-align:center"><%= image_tag(ats.icon, :size=>"18x25") %></td>
					<td><%= ats.name %></td>
					<td><%= raw("<a href=""javascript:win_building(" + biru.id.to_s + ");"">" + biru.name + "</a>") %></td>
					<td><%= raw("<a href=""javascript:win_owner(" + biru.trusts[0].owner.id.to_s + ");"">" + biru.trusts[0].owner.name + "</a>") %></td>
					<td><%= biru.memo %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<!-- モーダルダイアログ -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	<%= simple_form_for @biru_user_monthly_next, :url=>{:action => :biru_user_trust_update } do |f| %>
		
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel"><%= @month_next[0,4] + "年" + @month_next[4,2] + "月の計画編集" %></h4>
      </div>
	  
      <div class="modal-body">
		  	
			<%= f.input :id, :as => :hidden, :input_html => {:value => @biru_user_monthly_next.id } %>
			<%= f.input :biru_user_id, :as => :hidden, :input_html => {:value => @biru_user_monthly.biru_user_id } %>
			<%= f.input :month, :as => :hidden, :input_html => {:value => @month_next} %>
			
		  	<%= f.input :trust_plan_visit, :label=>'訪問件数' %>
		  	<%= f.input :trust_plan_dm, :label=>'ＤＭ発送件数' %>
		  	<%= f.input :trust_plan_tel, :label=>'電話アプローチ件数' %>
		  	<%= f.input :trust_plan_contract, :label=>'受託戸数' %>

			<%#= f.input :id, :as => :hidden, :input_html => {:value => @trust.id } %>
			<%#= f.input :attack_state_id, collection: AttackState.all %>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <%= f.submit '登録', :class => 'btn btn-primary' %>
      </div>
	<% end %>
	  
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


