<% content_for :header do %>
  <style type="text/css" media="all">
	
	a{
	  text-decoration:underline;	
	}

  </style>
  
	<style type="text/css" media="print">
	<!--
		.print-none{
			display:none;
		}
		
		.report-list-width{
				width:80%;
		}
		
		
	-->
	</style>  
  

	<style type="text/css" media="screen">
	<!--
		.report-list-width{
			width:45%;
		}
		
	-->
	</style>
	  
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3&language=ja&libraries=visualization"></script>
<script type="text/javascript">


//-------------------
// グローバル変数定義
//-------------------
var convert_shop = [];
  
// 初期化処理
function initialize(){
	
    // infoウィンドウを１つだけ作成
    infoWnd = new google.maps.InfoWindow();
	
    // 表示用のmapCanvasを作成
    var mapDiv = document.getElementById("map_canvas");
    mapCanvas = new google.maps.Map(mapDiv, {
		 scaleControl: true
		,zoom: 19
		,minZoom: 2
    });
	
    // 初期表示位置を調整
    var bounds = new google.maps.LatLngBounds();
	
	/**********************************/
	// 訪問リレキ・DMリレキ・TELリレキを表示
	/**********************************/
    owner_arr = {}; // varを外してグローバル化
    for(var i in gon.approach_owners){
      pos = new google.maps.LatLng(gon.approach_owners[i].latitude, gon.approach_owners[i].longitude);
      bounds.extend(pos);

      owner_arr[gon.approach_owners[i].id] = createMarker_trust_report({
        position : pos
        ,map : mapCanvas
        ,icon : gon.approach_owners[i].icon
        ,html : '<div style="font-size:10px;"><a href="javascript:win_owner(' + gon.approach_owners[i].id + ');">' + gon.approach_owners[i].name + '</a></div>'
        ,visible : true
	  　,draggable: true
      }, false);
    }
	
	/**********************************/
	// 見込みランク物件を表示
	/**********************************/
    /* 建物オブジェクトを作成 */
    build_arr = {}; // グローバル
    kyori_text = ""
    var pos;
    var idx = 0;
    var biru_latlngs = [];
    var populations = [];

    var buildings = gon.rank_buildings
    for(var i in buildings){
        pos = new google.maps.LatLng(buildings[i].latitude, buildings[i].longitude);

		bounds.extend(pos);

        build_arr[buildings[i].id] = createMarker_trust_report({
          position : pos
          ,map : mapCanvas
          ,icon : buildings[i].icon
		  ,html : '<div style="font-size:10px;"><a href="javascript:win_owner(' + gon.rank_buildings[i].owner_id + ');">' + gon.rank_buildings[i].name + '</a></div>'
          ,visible : true
		  ,draggable: true
        }, false);

        biru_latlngs[idx] = pos;
        idx = idx + 1;
    }

	


//
//
// 	/******************************/
// 	// 見込みランクの高いものを表示
// 	/******************************/
//
//     /* 営業所IDを添字、営業所CODEを値に変換用配列を作成します。 */
//     for(var i in gon.all_shops){
//       convert_shop[gon.all_shops[i].id] = parseInt(gon.all_shops[i].code);
//     }
//
//     /* 建物オブジェクトを作成 */
//     build_arr = {}; // グローバル
//     kyori_text = ""
//     var pos;
//     var idx = 0;
//     var biru_latlngs = [];
//     var populations = [];
//
//     var building_to_owners = gon.rank_building_to_owners
//     var buildings = gon.rank_buildings
//     for(var i in buildings){
//         pos = new google.maps.LatLng(buildings[i].latitude, buildings[i].longitude);
//
//         <%# if @search_type == 2 # 貸主の時、初期状態で非表示%>
//           var build_disp = false
//         <%# else %>
//           var build_disp = true
//           bounds.extend(pos);
//         <%# end %>
//
//         var shop_code = convert_shop[buildings[i].shop_id];
//
//         build_arr[buildings[i].id] = createMarker_trust_report({
//           position : pos
//           ,map : mapCanvas
//           ,icon : buildings[i].tmp_build_type_icon
//           ,manage_icon : buildings[i].tmp_manage_type_icon
//           ,build_type_icon : buildings[i].tmp_build_type_icon
//           ,shadow : '/assets/marker_shadow.png'
//           ,html : info_msg_biru_trust_report(buildings[i], building_to_owners[buildings[i].id])
//           ,visible : build_disp
// 		  ,draggable: true
//         }, true);
//
//         /* 戸数別のヒートマップを作る為のオブジェクト */
//         populations.push({
//           location : pos
//           ,weight : buildings[i].room_num
//         })
//
//         biru_latlngs[idx] = pos;
//         idx = idx + 1;
//     }
//
//     /* 貸主オブジェクトを作成 */
//     owner_arr = {}; // varを外してグローバル化
//     var owners = gon.rank_owners
//     var owner_to_buildings = gon.rank_owner_to_buildings
//     var owner_icon;
//     var owner_disp;
//
//     for(var i in owners){
//       pos = new google.maps.LatLng(owners[i].latitude, owners[i].longitude);
//
//       <%# if @search_type == 1 # 建物検索の時、初期状態で非表示%>
//         owner_disp = false
//       <%# else %>
//         owner_disp = true
//         bounds.extend(pos);
//       <%# end %>
//
//       // 貸主かどうかでアタックを決める。
//       if( owners[i].code == null){
//         owner_icon = "https://chart.googleapis.com/chart?chst=d_map_pin_icon&chld=home%7C0033FF"
//       } else {
//         owner_icon = "https://chart.googleapis.com/chart?chst=d_map_pin_icon&chld=home%7CFFFF00"
//       }
//
//       owner_arr[owners[i].id] = createMarker_trust_report({
//         position : pos
//         ,map : mapCanvas
//         ,icon : owner_icon
//         ,html : info_msg_owner(owners[i], owner_to_buildings[owners[i].id])
//         ,visible : owner_disp
// 	  　,draggable: true
//       }, false);
//     }
//
//     /* 委託契約CDのラインを引く */
//     trust_arr = {}; // varを外してグローバル化
//     var trusts = gon.rank_trusts
//     for(var i in trusts){
//
//       // 貸主マスタ・建物マスタに委託で指定した貸主CD・建物CDが存在することを確認
//       if ( !owner_arr[trusts[i].owner_id] ){
//           continue;
//       }
//
//       if ( !build_arr[trusts[i].building_id]){
//           continue;
//       }
//
//       trust_arr[trusts[i].id] = new google.maps.Polyline({
//          map : mapCanvas
//         ,path : [owner_arr[trusts[i].owner_id].position, build_arr[trusts[i].building_id].position]
//         ,strokeColor: gon.rank_manage_line_color[trusts[i].manage_type_id]
//         ,strokeOpacity:0.5
//         ,strokeWeight:3
//         ,zIndex:1
//       });
//
//       // 初期状態は非表示
//       trust_arr[trusts[i].id].set("visible", false);
//
//       // ダブルクリック時のイベント登録
//       trust_ev = trust_arr[trusts[i].id]
//       owner_ev = owner_arr[trusts[i].owner_id]
//       build_ev = build_arr[trusts[i].building_id]
//
//       // クリックした時のオブジェクトを保存するために、イベントは関数呼び出しで登録する。
//       create_relation_listener(trust_ev, owner_ev, build_ev)
//     }
//
//     /* 駅情報を表示する */
//     station_arr = {}; // varを消してグローバル化
//     station_circle01_arr = {}; // varを消してグローバル化
//     station_circle02_arr = {}; // varを消してグローバル化
//     var distination = new google.maps.MVCArray();
//     var distination_arr = [];
//
//     var stations = gon.stations
//     for(var i in stations){
//
//       pos = new google.maps.LatLng(stations[i].latitude, stations[i].longitude);
//     //  bounds.extend(pos);
//
// //        station_arr[stations[i].id] = createMarker_trust_report({
// //          position : pos
// //          ,map : mapCanvas
// //          ,animation: google.maps.Animation.DROP
// //         ,info_msg : stations[i].name
// //        });
//
//       /* 営業所の円を作成 */
//       station_circle01_arr[stations[i].id] = create_circle(1000, mapCanvas, pos);
//       station_circle02_arr[stations[i].id] = create_circle(2000, mapCanvas, pos);
//
//       /* 距離を測る対象を設定 */
// //      distination.push({name:stations[i].name, latLng:[stations[i].latitude,stations[i].longitude]});
// //      distination_arr.push(pos);
//    }

    mapCanvas.fitBounds(bounds);
	
	// 営業所の半径1KMを色づけ
    // for(var item in station_circle01_arr){
    //   station_circle01_arr[item].set("visible", true);
    // };

}  // end initialize

	
google.maps.event.addDomListener(window, "load", initialize);


// 建物のInfoBoxを登録する。
function info_msg_biru_trust_report(biru, owners){
  var inner_text = "";
  var vhtml;
  
  for(var j in owners){
    inner_text = inner_text +
      '<li style="font-size:5px;">' +
      '  <a href="javascript:link_owner_click(' + owners[j].id + ',' + owners[j].latitude + ',' + owners[j].longitude + ')">' + owners[j].name + '</a></td>' +
      '</li>'
  }

  vhtml = '<div style="font-size:7px;padding:0px;margin:0px;"><a href="javascript:win_building(' + biru.id + ');">' + biru.name + '</a></div>' +
    '<!-- <div style="font-size:5px;margin-left:5px;margin-top:5px;"><label><input type="checkbox" onclick="this.blur();this.focus();" onchange="building_trust_disp(' + biru.id  + ', this.checked);" />&nbsp;貸主へリンク</label></div> -->' +
    '<!-- <ul style="padding:0px;margin-left:5px;margin-top:0px;padding-top:0px;">' + inner_text  + '</ul> -->';

  return vhtml;

}


function createMarker_trust_report(opts, open_flg){
  var marker = new google.maps.Marker(opts);

  var i_wind = new google.maps.InfoWindow(); //唯一のinfoWnd
  
  if(open_flg == true){
	  i_wind.setContent(opts.html);
	  i_wind.open(opts.map, marker);
  }

  google.maps.event.addListener(marker, "click", function(){
    // write_build(opts.info_msg);

    i_wind.close();
    i_wind.setContent(opts.html);
    i_wind.open(opts.map, marker);

    marker.set("visible", true);

  });

  return marker;
}

</script>



<script type="text/javascript">

	var notice_disp;
	notice_disp = false;

	// 行動履歴一覧を表示します。
	init_data_jqgrid_approach();
	
	// ランク一覧を表示します。
	init_data_jqgrid_rank();
	
	// resize
    $(window).bind('resize', function () {
        $('#building_table_approach').setGridWidth($(window).width() * 0.45 )
        $('#building_pager_approach').setGridWidth($(window).width() * 0.45 )

        $('#building_table_rank').setGridWidth($(window).width() * 0.45 )
        $('#building_pager_rank').setGridWidth($(window).width() * 0.45 )
					
    }).trigger('resize');
	

	function init_data_jqgrid_approach(){
		// 列名の定義
 		var grid_name_approach = [
			  "貸主ID",
			  "アプローチ種別",
			  "貸主名",
			  "アプローチ日",
			  "内容",
		];
		
		
		// 列属性の定義
		var grid_model_approach = [
		  {name:"owner_id",  index:"owner_id",  align:"right",  classes:"no_class",  hidden:true,frozen:true}
   		 , {name:"approach_kind",  index:"approach_kind",  width:50,  align:"center",  classes:"no_class", stype: 'select', searchoptions:{ sopt:['eq'], value: "<%= @combo_approach_kinds %>" }}
  		 , {name:"owner_name",  index:"owner_name",  width:70,  align:"center",  classes:"no_class"}
  		 , {name:"approach_date",  index:"approach_date",  width:50,  align:"center",  classes:"no_class"}
  		 , {name:"approach_content",  index:"approach_content",  width:100,   align:"left",  classes:"no_class"}
		];

		// その他の設定
		var jqgrid_opt_approach = {
			 table_name:'building_table_approach'
			, fotter_name:'building_pager_approach'
			, div_name:'div_dummy_approach'
			, event_type:30
			, shrinkFit:true
			, multiselect:false
		};
		
		$(function(){
			jqgrid_create(grid_name_approach,  grid_model_approach,  gon.grid_data_approach,  jqgrid_opt_approach);
			
			// 非表示を解除
 			jQuery("#building_table_approach").navGrid('#building_pager_approach',{ edit:false,add:false,del:false,search:false }).navButtonAdd('#building_pager_approach',{
 			        caption:"", position:"first", onClickButton: function(){
					 
 						// マーカー非表示を解除
 						for(var item in owner_arr){
 						    owner_arr[item].set("visible", true);
 						 };
						 
   						for(var item in build_arr){
   						    build_arr[item].set("visible", true);
   						 };
 						 
					 
 					 }
 				 });
				 
			
			// フィルタにあるものだけ絞り込み
			jQuery("#building_table_approach").navGrid('#building_pager_approach',{ edit:false,add:false,del:false,search:false }).navButtonAdd('#building_pager_approach',{
			        caption:"", position:"first", onClickButton: function(){
						 
						// マーカー非表示
						for(var item in owner_arr){
						    owner_arr[item].set("visible", false);
						 };
						 
						for(var item in build_arr){
						    build_arr[item].set("visible", false);
						 };
						 
						 //var bounds = new google.maps.LatLngBounds();
						 var table_div = $('#building_table_approach');
						 var row_data = table_div.getRowData();
						 
						 for(var j in  row_data){
							
							 owner = owner_arr[row_data[j].owner_id];
							 if(owner != null){
	 							 owner.set("visible", true);
								 
							 }
							 
						 }
						 
					 }
				 });
		});
	 }
	 

 	function init_data_jqgrid_rank(){
 		// 列名の定義
  		var grid_name_rank = [
 			  "建物ID",
 			  "先月ランク",
 			  "今月ランク",
 			  "変更",
			  "最終変更月",
 			  "物件名",
 		];
		
 		// 列属性の定義
 		var grid_model_rank = [
 		  {name:"building_id",  index:"building_id",  align:"right",  classes:"no_class",  hidden:true,frozen:true}
    		 , {name:"attack_state_last_month",  index:"attack_state_last_month",  width:20,  align:"center",  classes:"no_class", stype: 'select', searchoptions:{ sopt:['eq'], value: "<%= @combo_rank %>" }}
    		 , {name:"attack_state_this_month",  index:"attack_state_this_month",  width:20,  align:"center",  classes:"no_class", stype: 'select', searchoptions:{ sopt:['eq'], value: "<%= @combo_rank %>" }}
   		 , {name:"change_status",  index:"change_status",  width:40,  align:"center",  classes:"no_class", stype: 'select', searchoptions:{ sopt:['eq'], value: "<%= ":;ランクアップ:ランクアップ;変更なし:変更なし;ランクダウン:ランクダウン;不明:不明" %>" }}
 	   	, {name:"change_month",  index:"change_month",  width:40,  align:"left",  classes:"no_class"}
   		 , {name:"building_name",  index:"building_name",  width:100,  align:"left",  classes:"no_class"}
 		];

 		// その他の設定
 		var jqgrid_opt_rank = {
 			 table_name:'building_table_rank'
 			, fotter_name:'building_pager_rank'
 			, div_name:'div_dummy_rank'
 			, event_type:31
 			, shrinkFit:true
 			, multiselect:false
 		};
		
 		$(function(){
 			jqgrid_create(grid_name_rank,  grid_model_rank,  gon.grid_data_rank,  jqgrid_opt_rank);
			
 			// 非表示を解除
  			jQuery("#building_table_rank").navGrid('#building_pager_rank',{ edit:false,add:false,del:false,search:false }).navButtonAdd('#building_pager_rank',{
  			        caption:"", position:"first", onClickButton: function(){
					 
						// マーカー非表示を解除
						for(var item in owner_arr){
						    owner_arr[item].set("visible", true);
						 };
						 
						for(var item in build_arr){
						    build_arr[item].set("visible", true);
						 };
					 
  					 }
  				 });
				 
			
 			// フィルタにあるものだけ絞り込み
 			jQuery("#building_table_rank").navGrid('#building_pager_rank',{ edit:false,add:false,del:false,search:false }).navButtonAdd('#building_pager_rank',{
 			        caption:"", position:"first", onClickButton: function(){
						 
						// マーカー非表示
						for(var item in owner_arr){
						    owner_arr[item].set("visible", false);
						 };
						 
						for(var item in build_arr){
						    build_arr[item].set("visible", false);
						 };
						 
 						 //var bounds = new google.maps.LatLngBounds();
 						 var table_div = $('#building_table_rank');
 						 var row_data = table_div.getRowData();
						 
 						 for(var j in  row_data){
							
 							 building = build_arr[row_data[j].building_id];
 							 if(building != null){
 	 							 building.set("visible", true);
								 
 							 }
							 
 						 }
						 
 					 }
 				 });
 		});
 	 }	
	 
</script>



<% end %>
<div style="padding-left:20px;">
	<h3><%=  '管理受託月報 ' + @month[0,4] + '年' + @month[4,2] + '月度（' + @biru_trust_user.name + "さん）" %><span style="font-size:15px;margin-left:150px;"><%= link_to "＜＜前月", {:action=>'trust_user_report', :month=>@month_prev, :sid=>@biru_trust_user.id.to_s }, :style=>"text-decoration:none;" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "翌月＞＞", {:action=>'trust_user_report', :month=>@month_next, :sid=>@biru_trust_user.id.to_s }, :style=>"text-decoration:none;" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最終更新日：<%= @data_update.update_datetime if @data_update %></span></h3>
	<div style="border-width:3px; border-style:solid; border-color:silver;width:40%;float:left;margin-right:20px;float:left;margin-bottom:20px;" class="print-none">
		<div id="map_canvas" style="width:100%;height:470px;border-color:blue"></div>
	</div>
	
	<div style="float:left;margin-bottom:0px;margin-right:20px;width:50%">
		
		<div>
			<table class="table table-bordered">
				<thead>
					<tr class="active">
						<td style="font-weight:bold"></td>
						<td style="font-weight:bold;text-align:center">今月度の行動</td>
						<td style="font-weight:bold;text-align:center">計画</td>
						<td style="font-weight:bold;text-align:center">実績</td>
						<td style="font-weight:bold;text-align:center">達成率</td>
						<td style="font-weight:bold;text-align:center"><a data-toggle="modal" href="#myModal"  >翌月度の計画</a></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="text-align:center;"><%= image_tag('marker_btn_blue.png') %></td>
						<td style="text-align:center;">訪問（うち在宅）</td>
						<td style="text-align:center;"><%= if @report.visit_plan then @report.visit_plan else '-' end %></td>
						<td style="text-align:center;"><%= @report.visit_num_all %>&nbsp;&nbsp;(<%= @report.visit_num_meet %>)</td>
						<td style="text-align:center;"><%= disp_growth_rate(@report.visit_plan, @report.visit_num_all) %></td>
						<td style="text-align:center;"><%= if @biru_user_monthly_next.trust_plan_visit then @biru_user_monthly_next.trust_plan_visit else '-' end %></td>
					
					</tr>
					<tr>
						<td style="text-align:center;"><%= image_tag('marker_btn_green.png') %></td>
						<td style="text-align:center;">ＤＭ（うち反響）</td>
						<td style="text-align:center;"><%= if @report.dm_plan then @report.dm_plan else '-' end %></td>
						<td style="text-align:center;"><%= @report.dm_num_send %>&nbsp;&nbsp;(<%= @report.dm_num_recv %>)</td>
						<td style="text-align:center;"><%= disp_growth_rate(@report.dm_plan, @report.visit_num_all) %></td>
						<td style="text-align:center;"><%= if @biru_user_monthly_next.trust_plan_dm then @biru_user_monthly_next.trust_plan_dm else '-' end %></td>
					
					</tr>
					<tr>
						<td style="text-align:center;"><%= image_tag('marker_btn_orange.png') %></td>
						<td style="text-align:center;">ＴＥＬ（うち応対）</td>
						<td style="text-align:center;"><%= if @report.tel_plan then @report.tel_plan else '-' end %></td>
						<td style="text-align:center;"><%= @report.tel_num_call %>&nbsp;&nbsp;(<%= @report.tel_num_talk %>)</td>
						<td style="text-align:center;"><%= disp_growth_rate(@report.tel_plan, @report.tel_num_call) %></td>
						<td style="text-align:center;"><%= if @biru_user_monthly_next.trust_plan_tel then @biru_user_monthly_next.trust_plan_tel else '-' end %></td>
					
					</tr>
					<tr>
						<td style="text-align:center;"><%= image_tag('marker_btn_red.png') %></td>
						<td style="text-align:center;">提案</td>
						<td style="text-align:center;"><%= if @report.suggestion_plan then @report.suggestion_plan else '-' end %></td>
						<td style="text-align:center;"><%= @report.suggestion_num %></td>
						<td style="text-align:center;"><%= disp_growth_rate(@report.suggestion_plan, @report.suggestion_num) %></td>
						<td style="text-align:center;"><%= if @biru_user_monthly_next.trust_plan_suggestion then @biru_user_monthly_next.trust_plan_suggestion else '-' end %></td>
					</tr>
					<tr>
						<td style="text-align:center;"><%= image_tag('http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=Z|00FF00|000000', :size=>"18x25")%></td>
						<td style="text-align:center;">他社受託（自社受託）</td>
						<td style="text-align:center;"><%= if @report.trust_plan then @report.trust_plan else '-' end %></td>
						<td style="text-align:center;"><%= @report.trust_num %>&nbsp;&nbsp;(<%= @report.trust_num_jisya %>)</td>
						<td style="text-align:center;"><%= disp_growth_rate(@report.trust_plan, @report.trust_num) %></td>
						<td style="text-align:center;"><%= if @biru_user_monthly_next.trust_plan_contract then @biru_user_monthly_next.trust_plan_contract else '-' end %></td>
					</tr>
				</tbody>
			</table>
		</div>
	

		<div style="float:left;">
			<table class="table table-bordered">
				<thead>
					<tr class="active">
						<td style="font-weight:bold"></td>
						<td style="font-weight:bold;text-align:center">見込みランク</td>
						<td style="font-weight:bold;text-align:center">件数</td>
						<td style="font-weight:bold;text-align:center">前月度からの増減</td>
					</tr>
				</thead>
			

				<tbody>
					<tr>
						<td style="text-align:center;"><%= image_tag('marker_orange.png') %></td>
						<td style="text-align:left;">S：契約日決定</td>
						<td style="text-align:center;"><%= @report.rank_s %></td>
						<td style="text-align:center;"><%= fluctuate_disp(@report.fluctuate_s) %></td>
					</tr>
					<tr>
						<td style="text-align:center;"><%= image_tag('marker_green.png') %></td>
						<td style="text-align:left;">A：契約予定で提案中</td>
						<td style="text-align:center;"><%= @report.rank_a %></td>
						<td style="text-align:center;"><%= fluctuate_disp(@report.fluctuate_a) %></td>
					</tr>
					<tr>
						<td style="text-align:center;"><%= image_tag('marker_purple.png') %></td>
						<td style="text-align:left;">B：提案書は提出可</td>
						<td style="text-align:center;"><%= @report.rank_b %></td>
						<td style="text-align:center;"><%= fluctuate_disp(@report.fluctuate_b) %></td>
					</tr>
					<tr>
						<td style="text-align:center;"><%= image_tag('marker_red.png') %></td>
						<td style="text-align:left;">C：権者に物件ヒアリング</td>
						<td style="text-align:center;"><%= @report.rank_c %></td>
						<td style="text-align:center;"><%= fluctuate_disp(@report.fluctuate_c) %></td>
					</tr>
					<tr>
						<td style="text-align:center;"><%= image_tag('marker_white.png') %></td>
						<td style="text-align:left;">Z：成約済</td>
						<td style="text-align:center;"><%= @report.rank_z %></td>
						<td style="text-align:center;"><%= fluctuate_disp(@report.fluctuate_z) %></td>
					</tr>
				</tbody>
			</table>
		</div>
			
	</div>

	<div style="clear:both">
			<div id="div_dummy_approach" style="height:250px;float:left;" class="report-list-width">
				<h4>今月度の行動詳細（面談・提案・DM反響・TEL会話）</h4>
				<table id="building_table_approach"></table>
				<div id = "building_pager_approach"></div>
			</div>
			<div id="div_dummy_rank" style="height:250px;float:left;margin-left:20px;" class="report-list-width">
				<h4>今月のランクC以上　または　ランクが変動したもの</h4>
				<table id="building_table_rank"></table>
				<div id = "building_pager_rank"></div>
			</div>
			
	</div>
	
</div>

<!-- モーダルダイアログ -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	<%= simple_form_for @biru_user_monthly_next, :url=>{:action => :biru_user_trust_update } do |f| %>
		
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel"><%= @month_next[0,4] + "年" + @month_next[4,2] + "月の計画編集" %></h4>
      </div>
	  
      <div class="modal-body">
		  	
			<%= f.input :id, :as => :hidden, :input_html => {:value => @biru_user_monthly_next.id } %>
			<%= f.input :biru_user_id, :as => :hidden, :input_html => {:value => @report.biru_user_id } %>
			<%= f.input :month, :as => :hidden, :input_html => {:value => @month_next} %>
			
		  	<%= f.input :trust_plan_visit, :label=>'訪問件数' %>
		  	<%= f.input :trust_plan_dm, :label=>'ＤＭ発送件数' %>
		  	<%= f.input :trust_plan_tel, :label=>'電話アプローチ件数' %>
		  	<%= f.input :trust_plan_suggestion, :label=>'提案件数' %>
		  	<%= f.input :trust_plan_contract, :label=>'受託戸数' %>

			<%#= f.input :id, :as => :hidden, :input_html => {:value => @trust.id } %>
			<%#= f.input :attack_state_id, collection: AttackState.all %>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <%= f.submit '登録', :class => 'btn btn-primary' %>
      </div>
	<% end %>
	  
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


