<%= content_for :sidebar do %>
        <div class="span3" >
          <div class="well sidebar-nav" style="margin-top:30px;margin-left:20px;height:800px;">
			  <div style="padding-bottom:5px;">おしらせ</div>
			  <table>
				  <tr>
					  <td style="vertical-align:top;padding-right:10px;">TODO：</td>
					  <td>募集（地図）で募集中の物件を表示したい</td>
				  </tr>
			  </table>
          </div><!--/.well -->		  
        </div><!--/span-->
<% end %>



<div class="well" style="margin-top:30px;margin-left:30px;height:800px;">

	<h3 style="margin-top:30px;"><%= link_to "管理物件（地図）", managements_path %></h3>
	<p>管理物件を地図に展開します</p>

	<h3 style="margin-top:30px;"><%= link_to "募集物件（地図）", recruitments_path %></h3>
	<p>募集物件（自社物・レンターズ登録の他社物）を地図に展開します</p>
	
	<h3 style="margin-top:30px;"><%= link_to "物件一覧", building_rooms_path %></h3>
	<p>自社管理物件・募集中の他社物件の一覧を表示します</p>
	
	<h3 style="margin-top:30px;"><%= link_to "受託活動報告", trust_managements_path %></h3>
	<p>訪問履歴・ＤＭ発送履歴・TELアプローチ履歴の登録・集計を行います</p>

	<h3 style="margin-top:30px;"><%= link_to "業績分析", performances_path %></h3>
	<p>経営数値の情報をグラフで表示します。</p>

	<h3 style="margin-top:30px;"><%= link_to "レンターズ連動テスト", renters_path %></h3>
	<p>レンターズ連動のテストです</p>
	
	<h3 style="margin-top:30px;"><%= link_to "ログアウト", logout_path %></h3>
	<p>ログアウトします。</p>
	
</div>