<%= content_for :sidebar do %>
        <div class="span3" >
          <div class="well sidebar-nav" style="margin-top:30px;margin-left:20px;height:800px;">
			  <div style="padding-bottom:5px;">おしらせ</div>
			  <table>
				  <tr>
					  <td style="vertical-align:top;padding-right:10px;">7/30</td>
					  <td>システム自動ログイン リリース予定</td>
				  </tr>
			  </table>
          </div><!--/.well -->		  
        </div><!--/span-->
<% end %>



<div class="well" style="margin-top:30px;margin-left:30px;height:800px;">

	<h3><%= link_to "トップ", root_path %></h3>
    <p>このページへのリンクです。</p>
	
	<h3 style="margin-top:30px;"><%= link_to "地図", managements_path %></h3>
	<p>物件（自社・他社）を地図に展開します。</p>
	
	<h3 style="margin-top:30px;"><%= link_to "業績分析", performances_path %></h3>
	<p>経営数値の情報をグラフで表示します。</p>

	<h3 style="margin-top:30px;"><%= link_to "物件一覧", building_rooms_path %></h3>
	<p>管理物件の一覧を表示します。空室やレンターズの登録状況などを確認できます。</p>
	
	<h3 style="margin-top:30px;"><%= link_to "アタックリスト", trust_managements_path %></h3>
	<p>受託アタックリスト</p>

	<h3 style="margin-top:30px;"><%= link_to "レンターズ連動テスト", renters_path %></h3>
	<p>レンターズ連動のテストです</p>
	
	<h3 style="margin-top:30px;"><%= link_to "ログアウト", logout_path %></h3>
	<p>ログアウトします。</p>
	
</div>