<%= content_for :sidebar do %>
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">メニュー</li>
              <li><%= link_to "管理", managements_path %></li>
              <li><%= link_to "募集", recruitments_path %></li>
              <li><%= link_to "カスタマーデスク", repairs_path  %></li>
              <li><%= link_to "業績管理", performances_path  %></li>
              <li><%= link_to "オーナー専用ページ", owners_path %></li>
              <li><%= link_to "入居者専用ページ", renters_path %></li>
              <!--
              <li><%#= link_to "メンテナンス", admin_root_path, {:target=>"_blank"}  %></li>
              -->
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
<% end %>

<div class="hero-unit">
    <h1>中央ビル管理Webシステム</h1>
    <p>Webで提供できる各種システムの統合トップページです。<br/>
    機能別にはヘッダの項目をクリックしてください。</p>
</div>