  <style type="text/css">
    html, body{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
  </style>

<script type="text/javascript">

  var yyyymm_data = [
    { label:'年度',id: 3001,
      children: [
        {label: '2014年度', id:2014},
        {label: '2013年度', id:2013},
        {label: '2012年度', id:2012},
        {label: '2011年度', id:2011},
        {label: '2010年度', id:2010},
        {label: '2009年度', id:2009}
      ]
    }
  ]

  // cookieに展開状況を保存するため、idは全てに付ける。
  var dept_data = [
    { label: '部署', id: 3100,
      children: [
      {
          label: 'ビル管理全体', id:252,
          children: [
              { label: '東武支店',id:245,
                children: [
                  { label: '東武南',id:236,
                    children: [
                      { label: '草加', id: 152},
                      { label: '草加新田', id: 153},
                      { label: '北千住', id: 154}
                    ]
                  },
                  { label: '東武中央',id:237 ,
                    children: [
                      {label: '南越谷', id:155 },
                      {label: '越谷', id:156 }
                    ]
                  },
                  { label: '東武北',id:238,
                    children:[
                      { label: '北越谷', id: 227},
                      { label: '春日部', id: 228},
                      { label: 'せんげん台', id: 229}
                    ]
                  },
                  { label: '東武建管',id:159},
                  { label: '東武流通',id:230},
                ]
              },
              { label: 'さいたま支店',id:246,
                children: [
                  { label:'さいたま南', id:279,
                    children:[
                      { label: '戸田', id:161},
                      { label: '武蔵浦和', id:162},
                      { label: '川口', id:163},
                    ]
                  },
                  { label: 'さいたま北', id:277,
                    children:[
                      { label: '浦和', id:164},
                      { label: '与野', id:165}
                    ]
                  },
                  { label:'さいたま東', id:240,
                    children: [
                      { label: '東浦和', id:166},
                      { label: '東川口', id:167},
                      { label: '戸塚安行', id:168}
                    ]
                  },
                  { label: 'さいたま建管',id:169},
                  { label: 'さいたま流通',id:231},
                ]
              },
              { label: '千葉支店',id:247,
                children: [
                  { label:'常磐中央', id:241,
                    children:[
                      { label: '松戸', id:171},
                      { label: '北松戸', id:172},
                    ]
                  },
                  { label: '常磐西', id:242,
                    children:[
                      { label: '南流山', id:174},
                      { label: '柏', id:173}
                    ]
                  },
                  { label: '千葉建管',id: 175},
                  { label: '千葉流通',id: 232},
                ]
              },
              { label: 'アセット',id:243,
                children: [
                  { label: '保険課', id:209},
                  { label: '法人課', id:181}
                ]
              },
              { label: 'ライフサービス部',id:248,
                children: [
                  { label: '損害サービス課', id:185},
                  { label: 'クリーンサービス課', id:186}
                ]
              },

          ]
      },
      {
        label: 'ポラスアルファ', id:258
      }

      ]
    }
  ];

  var item_data = [
    { label: '項目', id: 4000,
      children: [
        {
          label: '損益項目', id: 4010,
          children: [
            { label: '売上高', id:'A0001'},
            { label: '粗利益', id:'B0010'},
            { label: '人件費', id:'A0003'},
            { label: '経費', id:'A0004'},
            { label: '経常利益', id:'A0007'},
          ]
        },
        {
          label: '営業所 主要項目', id: 4020,
          children: [
            { label: '新規受託管理戸数　他社', id: 'B0001'},
            { label: '新規受託管理戸数　自社', id: 'B0002'},
            { label: '賃貸管理手数料', id: '41040'},
            { label: '賃貸仲介件数', id: 'B0009'},
            { label: '賃貸仲介手数料', id: 'Z0002'},
            { label: '売買粗利益', id: 'B0003'},
            { label: 'サブリース等売上', id: '44020'},
            { label: '不動産再生事業売上(契約)', id: 'B0035'},
            { label: '建物管理売上', id: '41070'},
            { label: '保険代理店手数料', id: '41060'},
            { label: '家賃立替サービス代理店手数料', id: 'B0004'},
            { label: '付随商品手数料', id: '45010'},
            { label: '建築紹介件数', id: 'B0008'},
            { label: '入居率', id: 'B0007'},
            { label: '空室率', id: 'B0006'},
            { label: '総管理戸数', id: 'B0005'},
            { label: '家賃回収滞納率', id: 'B0090'},
          ]
        },
        {
          label: '建管 主要項目', id: 4030,
          children: [
            { label: '原状回復工事売上', id: 'B0019'},
            { label: '定期設備メンテナンス売上', id: 'B0020'},
            { label: '提案設備メンテナンス売上', id: 'B0021'},
            { label: '原状回復工事粗利益率', id: 'B0022'},
            { label: '提案同行数', id: 'B0023'},
            { label: 'サブリース等売上', id: '44020'},
            { label: '建物管理売上', id: '41070'},
            { label: '付随商品手数料', id: '45010'},
            { label: '管理手数料', id: '41040'},
            { label: '解約精算・工事所要日数', id: 'B0091'},
            { label: '工事代未収金100万以下', id: 'B0067'},
          ]
        },
        {
          label: '流通 主要項目', id: 4040,
          children: [
            { label: '不動産再生売上(契約)', id: 'B0035'},
            { label: '売買粗利益（契約）', id: 'B0003'},
            { label: '新築・注文契約件数', id: 'B0040'},
            { label: '資産売却受託件数', id: 'B0039'},
            { label: '自己開拓契約件数', id: 'B0093'},
            { label: '再生事業粗利益（契約）', id: 'B0084'},
          ]
        },
        {
          label: 'アセット', id: 4050,
          children: [
            { label: '保健課', id: 4051,
              children:[
                { label: '保険代理店手数料（契約）', id: 'B0025'},
                { label: '保険代理店手数料（計上）', id: '41060'},
                { label: '火災保険独自新規契約件数', id: 'B0028'},
                { label: '自動車保険継続率', id: 'B0029'},
                { label: '自動車保険独自新規契約件数', id: 'B0031'},
                { label: '入居者保険更新手続完了率', id: 'B0033'},
                { label: '生命保険新規契約手数料', id: 'B0034'},
                { label: '火災保険独自新規契約手数料', id: 'B0094'},
                { label: '火災保険更新手数料', id: 'B0095'},
              ]
            },
            { label: '法人課', id: 4052,
              children:[
                { label: '売買粗利益（契約）', id: 'B0003'},
                { label: '賃貸仲介手数料', id: 'Z0002'},
                { label: 'サブリース等売上', id: '44020'},
                { label: '法人賃貸紹介件数', id: 'B0037'},
                { label: 'オーナー借上提案数', id: 'B0038'},
                { label: 'サブリース等粗利率', id: 'B0092'},
                { label: 'コインパーキング売上', id: 'B0200'},
                { label: 'サブリース管理戸数', id: 'B0225'},
              ]
            },
          ]
        },
        {
          label: 'ライフサービス 主要項目', id: 4060,
          children: [
            { label: 'クリーンサービス', id: 4061,
              children:[
                { label: 'ダミー', id: 111 },
              ]
            },
            { label: '損害サービス', id: 4062,
              children: [
                { label: '損害サービス工事受注金額', id: 'B0043'},
                { label: '損害サービス工事受注件数', id: 'B0044'},
                { label: '損害調査受注金額', id: 'B0233'},
                { label: '損害調査受注件数', id: 'B0232'},
                { label: '新規保険拠点開拓数', id: 'B0234'},
                { label: '30日以内工事完了報告率', id: 'B0235'},
                { label: '事故現場社員出勤率', id: 'B0236'},
              ]
            },
            { label: 'マンション管理', id: 4063,
              children: [
                { label: '建物管理売上', id: '41070'},
                { label: '管理手数料', id: '41040'},
                { label: '分譲マンション新規管理受託数', id: 'B0217'},
                { label: '新規委託契約組合数', id: 'B0410'},
                { label: '新規見積り提出件数', id: 'B0411'},
                { label: '管理移行検討組合数', id: 'B0412'},
                { label: '報告書20日以内提出率', id: 'B0413'},
              ]
            },
          ]
        },
        {
          label: 'ポラスアルファ', id: 4070,
          children: [
            { label: '契約書取得率', id: 'D0001'},
            { label: '滞納賃料当月内回収率', id: 'D0003'},
            { label: '前月分滞納賃料回収率', id: 'D0004'},
            { label: '新規立替サービス契約件数', id: 'D0005'},
            { label: '新規立替サービス契約手数料', id: 'D0006'},
            { label: '他社切替え立替えサービス契約件数', id: 'D0007'},
            { label: '他社切替え立替えサービス契約手数料', id: 'D0008'},
            { label: '立替サービス引受保有件数', id: 'D0009'},
            { label: '滞納賃料立替金額', id: 'D0012'},
            { label: '滞納賃料立替件数', id: 'D0013'},
            { label: '立替未収残高', id: 'D0014'},
          ]
        },
        {
          label: '業務管理 項目', id: 4080,
          children: [
            { label: '職場巡回指摘改善数（総）　', id: 'B0600'},
            { label: '18：00以降在社時間ﾗｲﾝ短縮（総）', id: 'B0601'},
            { label: '総家賃延滞率（業）', id: 'B0213'},
            { label: '更新書類回収率（業）', id: 'B0220'},
            { label: '工事代金未収金額（業）　　　　　　　', id: 'B0067'},
            { label: '賃貸仲介手数料（品）', id: 'B0231'},
            { label: '新規管理受託他社（品）', id: 'B0602'},
            { label: 'システム開発進捗率（品）', id: 'B0603'},
            { label: '初期修理発生率（品）', id: 'B0604'},
            { label: '室内デザインパック受注件数（品）', id: 'B0605'},
            { label: '修理未完了件数（カ）', id: 'B0606'},
            { label: '売買粗利益（売）', id: 'B0607'},
            { label: '経常利益PH', id: 'B0017'},
            { label: '粗利益PH', id: 'B0016'},
          ]
        },
        {
          label: 'ハートフル 項目', id: 4100,
          children: [
            { label: '営業紹介', id: 'C0001'},
            { label: '業者紹介', id: 'C0002'},
            { label: '社員紹介', id: 'C0003'},
          ]
        },
      ]
    }
  ];


$(function() {
    $('#tree-dept').tree({
        data: dept_data,
        saveState: 'c-dept'
    });

    $('#tree-item').tree({
        data: item_data,
        saveState: 'c-item'
    });

    $('#tree-yyyymm').tree({
        data: yyyymm_data,
        saveState: 'c-yyyymm'
    });

    $('#tree-item').bind('tree.select',　
      function(event) {
        if (event.node) {
          // もしも選択されたNodeが非選択対象(3000以上)だったら、選択状態を解除
          var node = event.node;
          var num = parseInt(node.id);
          if(isNaN(num) == false){
            if(num >= 3000){
              $('#tree-item').tree('removeFromSelection', node);
            }
          }
        }
      }
    );

    $('#tree-yyyymm').bind('tree.select',　
      function(event) {
        if (event.node) {
          // もしも選択されたNodeが非選択対象(3000以上)だったら、選択状態を解除
          var node = event.node;
          var num = parseInt(node.id);
          if(isNaN(num) == false){
            if(num >= 3000){
              $('#tree-yyyymm').tree('removeFromSelection', node);
            }
          }
        }
      }
    );

    $('#tree-dept').bind('tree.select',　
      function(event) {
        if (event.node) {
          // もしも選択されたNodeが非選択対象(3000以上)だったら、選択状態を解除
          var node = event.node;
          var num = parseInt(node.id);
          if(isNaN(num) == false){
            if(num >= 3000){
              $('#tree-dept').tree('removeFromSelection', node);
            }
          }
        }
      }
    );

});

function graph_disp(){

  frm.yyyymm.value = $('#tree-yyyymm').tree('getSelectedNode').id;
  if(frm.yyyymm.value =='undefined' ){
    alert('年度を指定してください');
    return;
  }

  frm.item.value = $('#tree-item').tree('getSelectedNode').id;
  if(frm.item.value =='undefined' ){
    alert('項目を指定してください');
    return;
  }

  frm.dept.value = $('#tree-dept').tree('getSelectedNode').id;
  if(frm.dept.value =='undefined' ){
    alert('部署を指定してください');
    return;
  }

  frm.submit();
}

</script>

<% content_for :sidebar do %>
      <div id="sidebar" class="span2" style="padding-left:10px;padding-right:10px;">
        <ul class="nav nav-list well">
          <div id="tree-yyyymm"></div>
          <div id="tree-dept"></div>
          <div id="tree-item"></div>

          <%= form_tag performances_path ,:name=>"frm" do %>
            <%= hidden_field_tag 'yyyymm', '' %>
            <%= hidden_field_tag 'item', '' %>
            <%= hidden_field_tag 'dept', '' %>
            <%= button_tag "グラフ表示" ,:type=>'button', :style=>'margin-top:20px;', :onClick=>"javascript:graph_disp();" %>
          <% end %>
        </ul>
      </div><!-- /span3 -->
<% end %>
