
<% if biru_icon == "shop" %>
  <!-- 物件種別  -->
  <table class="table table-striped table-bordered table-condensed" >
    <thead>
      <tr>
        <th width="50" style="text-align:center;"><label>営業所</label></th>
        <th width="100" style="text-align:center;"><label>ー</label></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_blue.png') %></td>
        <td style="text-align:center">草加</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_yellow.png') %></td>
        <td style="text-align:center">新田</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_purple.png') %></td>
        <td style="text-align:center">北千住</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_red.png') %></td>
        <td style="text-align:center">南越谷</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_orange.png') %></td>
        <td style="text-align:center">越谷</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_green.png') %></td>
        <td style="text-align:center">北越谷</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_white.png') %></td>
        <td style="text-align:center">せんげん台</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_gray.png') %></td>
        <td style="text-align:center">春日部</td>
      </tr>

      <tr>
        <td style="text-align:center"><%= image_tag('marker_blue.png') %></td>
        <td style="text-align:center">戸田</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_yellow.png') %></td>
        <td style="text-align:center">武蔵浦和</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_purple.png') %></td>
        <td style="text-align:center">川口</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_red.png') %></td>
        <td style="text-align:center">与野</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_orange.png') %></td>
        <td style="text-align:center">浦和</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_green.png') %></td>
        <td style="text-align:center">東浦和</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_white.png') %></td>
        <td style="text-align:center">東川口</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_gray.png') %></td>
        <td style="text-align:center">戸塚安行</td>
      </tr>

      <tr>
        <td style="text-align:center"><%= image_tag('marker_blue.png') %></td>
        <td style="text-align:center">松戸</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_yellow.png') %></td>
        <td style="text-align:center">北松戸</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_purple.png') %></td>
        <td style="text-align:center">柏</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_red.png') %></td>
        <td style="text-align:center">南流山</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_purple.png') %></td>
        <td style="text-align:center">法人課</td>
      </tr>

    </tbody>
  </table>

<% elsif biru_icon == "area" %>

  <table class="table table-striped table-bordered table-condensed" >
    <thead>
      <tr>
        <th width="50" style="text-align:center;"><label>エリア</label></th>
        <th width="100" style="text-align:center;"><label>ー</label></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_blue.png') %></td>
        <td style="text-align:center">東武南</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_yellow.png') %></td>
        <td style="text-align:center">東武中央</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_purple.png') %></td>
        <td style="text-align:center">東武北</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_red.png') %></td>
        <td style="text-align:center">さいたま南</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_orange.png') %></td>
        <td style="text-align:center">さいたま北</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_green.png') %></td>
        <td style="text-align:center">さいたま東</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_white.png') %></td>
        <td style="text-align:center">常磐西</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_gray.png') %></td>
        <td style="text-align:center">常磐中央</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_green.png') %></td>
        <td style="text-align:center">法人課</td>
      </tr>

    </tbody>
  </table>

<% elsif biru_icon == "siten" %>

  <table class="table table-striped table-bordered table-condensed" >
    <thead>
      <tr>
        <th width="50" style="text-align:center;"><label>支店</label></th>
        <th width="100" style="text-align:center;"><label>ー</label></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_green.png') %></td>
        <td style="text-align:center">東武</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_blue.png') %></td>
        <td style="text-align:center">さいたま</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_yellow.png') %></td>
        <td style="text-align:center">千葉</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_purple.png') %></td>
        <td style="text-align:center">アセット</td>
      </tr>
    </tbody>
  </table>

<% elsif biru_icon == "biru_kind" %>

  <!-- 物件種別  -->
  <table class="table table-striped table-bordered table-condensed" >
    <thead>
      <tr>
        <th width="50" style="text-align:center;"><label>建物種別</label></th>
        <th width="100" style="text-align:center;"><label>ー</label></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_blue.png') %></td>
        <td style="text-align:center">アパート</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_yellow.png') %></td>
        <td style="text-align:center">マンション</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_purple.png') %></td>
        <td style="text-align:center">分譲M</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_red.png') %></td>
        <td style="text-align:center">戸建て</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_orange.png') %></td>
        <td style="text-align:center">テラス</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_green.png') %></td>
        <td style="text-align:center">メゾネット</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_gray.png') %></td>
        <td style="text-align:center">店舗等</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_gray.png') %></td>
        <td style="text-align:center">事務所等</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_white.png') %></td>
        <td style="text-align:center">その他</td>
      </tr>
    </tbody>
  </table>

<% elsif biru_icon == "manage_type" %>
  <!-- 管理方式  -->
  <table class="table table-striped table-bordered table-condensed" >
    <thead>
      <tr>
        <th width="50" style="text-align:center;"><label>管理方式</label></th>
        <th width="100" style="text-align:center;"><label>ー</label></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_blue.png') %></td>
        <td style="text-align:center">B管理</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_yellow.png') %></td>
        <td style="text-align:center">一般</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_purple.png') %></td>
        <td style="text-align:center">D管理</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_red.png') %></td>
        <td style="text-align:center">A管理</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_orange.png') %></td>
        <td style="text-align:center">業務君</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_green.png') %></td>
        <td style="text-align:center">総務君</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_gray.png') %></td>
        <td style="text-align:center">特有賃</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_gray.png') %></td>
        <td style="text-align:center">定期借家</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_white.png') %></td>
        <td style="text-align:center">管理外</td>
      </tr>
    </tbody>
  </table>

<% elsif biru_icon == "aki" %>
  <!-- 空室数  -->
  <table class="table table-striped table-bordered table-condensed" >
    <thead>
      <tr>
        <th width="50" style="text-align:center;"><label>空室数</label></th>
        <th width="100" style="text-align:center;"><label>ー</label></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_blue.png') %></td>
        <td style="text-align:center">満室</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_green.png') %></td>
        <td style="text-align:center">1〜30%</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_yellow.png') %></td>
        <td style="text-align:center">31〜60%</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_orange.png') %></td>
        <td style="text-align:center">61〜90%</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_red.png') %></td>
        <td style="text-align:center">91〜100%</td>
      </tr>
    </tbody>
  </table>

<% elsif biru_icon == "age" %>
  <!-- 築年数  -->
  <table class="table table-striped table-bordered table-condensed" >
    <thead>
      <tr>
        <th width="50" style="text-align:center;"><label>築年数</label></th>
        <th width="100" style="text-align:center;"><label>ー</label></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_purple.png') %></td>
        <td style="text-align:center">0〜1年</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_blue.png') %></td>
        <td style="text-align:center">2〜5年</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_green.png') %></td>
        <td style="text-align:center">6〜10年</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_yellow.png') %></td>
        <td style="text-align:center">11〜20年</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_orange.png') %></td>
        <td style="text-align:center">21〜30年</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_red.png') %></td>
        <td style="text-align:center">31〜40年</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_gray.png') %></td>
        <td style="text-align:center">41年以上</td>
      </tr>
    </tbody>
  </table>


<% elsif biru_icon == "num" %>
  <!-- 戸数  -->
  <table class="table table-striped table-bordered table-condensed" >
    <thead>
      <tr>
        <th width="50" style="text-align:center;"><label>戸数</label></th>
        <th width="100" style="text-align:center;"><label>ー</label></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_purple.png') %></td>
        <td style="text-align:center">1戸</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_blue.png') %></td>
        <td style="text-align:center">2〜4戸</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_green.png') %></td>
        <td style="text-align:center">5〜6戸</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_yellow.png') %></td>
        <td style="text-align:center">6〜8戸</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_orange.png') %></td>
        <td style="text-align:center">8〜10戸</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_red.png') %></td>
        <td style="text-align:center">11〜15戸</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_gray.png') %></td>
        <td style="text-align:center">16〜20戸</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_gray.png') %></td>
        <td style="text-align:center">21戸以上</td>
      </tr>
    </tbody>
  </table>

<% elsif biru_icon == "jita" %>
  <!-- 自社・他社  -->
  <table class="table table-striped table-bordered table-condensed" >
    <thead>
      <tr>
        <th width="50" style="text-align:center;"><label>自社</label></th>
        <th width="100" style="text-align:center;"><label>ー</label></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_blue.png') %></td>
        <td style="text-align:center">自社</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_yellow.png') %></td>
        <td style="text-align:center">他社</td>
      </tr>
    </tbody>
  </table>

<% elsif biru_icon == "atk" %>
  <!-- アタックランク  -->
  <table class="table table-striped table-bordered table-condensed" >
    <thead>
      <tr>
        <th width="50" style="text-align:center;"><label>アタックランク</label></th>
        <th width="100" style="text-align:center;"><label>ー</label></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_blue.png') %></td>
        <td style="text-align:center">S</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_yellow.png') %></td>
        <td style="text-align:center">A</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_purple.png') %></td>
        <td style="text-align:center">B</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_red.png') %></td>
        <td style="text-align:center">C</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_orange.png') %></td>
        <td style="text-align:center">D</td>
      </tr>
    </tbody>
  </table>
<% else %>

  <table class="table table-striped table-bordered table-condensed" >
    <thead>
      <tr>
        <th width="50" style="text-align:center;"><label>物件<br/><input type="checkbox" id="buildChkbox" checked/></label></th>
        <th width="100" style="text-align:center;"><label>物件種別<br/><input type="radio" name="dispcheck" id="bukkenRadio" value="2" checked /></label></th>
        <th width="90" style="text-align:center;"><label>管理方式<br/><input type="radio" name="dispcheck" id="kanriRadio" value="1" /></label></th>
        <th width="80" style="text-align:center;"><label>自他<br/><input type="radio" name="dispcheck" id="kanriRadio" value="3" /></label></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_blue.png') %></td>
        <td style="text-align:center">アパート</td>
        <td style="text-align:center">B管理</td>
        <td style="text-align:center">自社</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_yellow.png') %></td>
        <td style="text-align:center">マンション</td>
        <td style="text-align:center">一般</td>
        <td style="text-align:center">一般</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_purple.png') %></td>
        <td style="text-align:center">分譲M</td>
        <td style="text-align:center">D管理</td>
        <td style="text-align:center">−</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_red.png') %></td>
        <td style="text-align:center">戸建て</td>
        <td style="text-align:center">A管理</td>
        <td style="text-align:center">A管理</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_orange.png') %></td>
        <td style="text-align:center">テラス</td>
        <td style="text-align:center">業務君</td>
        <td style="text-align:center">−</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_green.png') %></td>
        <td style="text-align:center">メゾネット</td>
        <td style="text-align:center">総務君</td>
        <td style="text-align:center">−</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_gray.png') %></td>
        <td style="text-align:center">店舗等</td>
        <td style="text-align:center">特有賃</td>
        <td style="text-align:center">−</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_gray.png') %></td>
        <td style="text-align:center">事務所等</td>
        <td style="text-align:center">定期借家</td>
        <td style="text-align:center">−</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('marker_white.png') %></td>
        <td style="text-align:center">その他</td>
        <td style="text-align:center">管理外</td>
        <td style="text-align:center">他社</td>
      </tr>
    </tbody>
  </table>
  <div style="font-size:x-small">
    ※ここをコンボボックスにして徒歩分数別や、空室日数別、受託見込み別のような出し方をしても面白いかも。その場合はを選択する度に凡例をrenderすればいい。
  </div>
<% end %>


