<% content_for :header do %>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3&language=ja&libraries=visualization"></script>
<script type="text/javascript">

// 建物のアイコンを変更します。
function change_biru_icon(type){
  if(type == "siten"){
    // 支店表示
    for(var item in build_arr){
      build_arr[item].setIcon(build_arr[item].siten_icon );
    };
  }else if(type == "area"){
    // エリア表示
    for(var item in build_arr){
      build_arr[item].setIcon(build_arr[item].area_icon );
    };
  } else if(type == "shop" ){
    // 営業所表示
    for(var item in build_arr){
      build_arr[item].setIcon(build_arr[item].shop_icon );
    };

  } else if(type == "biru_kind" ){
    // 管理方式のアイコンにする。
    for(var item in build_arr){
      build_arr[item].setIcon(build_arr[item].build_type_icon );
    };
  } else if( type == "manage_type") {
    // 建物種別のアイコンにする。
    for(var item in build_arr){
      build_arr[item].setIcon(build_arr[item].manage_icon );
    };
  } else if( type == "num") {
    // 管理戸数のアイコンにする。
    for(var item in build_arr){
      build_arr[item].setIcon(build_arr[item].kanri_room_num );
    };
  } else if( type == "aki") {
    // 空室のアイコンにする。
    for(var item in build_arr){
      build_arr[item].setIcon(build_arr[item].free_room );
    };
  } else if( type == "age") {
    // 築年月のアイコンにする。
    for(var item in build_arr){
      build_arr[item].setIcon(build_arr[item].biru_age );
    };

  } else {
    // 何もしない
  }

}


// Infoウィンドウに設定します
function setInfoWnd(marker, msg){
    google.maps.event.addListener(marker, "click", function(){
      infoWnd.setContent(msg);
      infoWnd.open(marker.getMap(), marker);
    });
}

// posからpositionオブジェクトを返します。
function getCoords(position) {
    return new google.maps.LatLng(position.latitude, position.longitude);
}


  function win_owner(id) {
    window.open('/managements/popup_owner/' + id   , "", "width=400,height=450");
  }

  function win_building(id){
    window.open('/managements/popup_building/' + id   , "", "width=400,height=450");
  }

  // 管理委託契約と建物・貸主の紐付け（このように関数で呼び出すようにする必要がある）
  function create_relation_listener(trust_ev, owner_ev, build_ev){

    // 貸主マーカーにて委託契約ONのイベント
    google.maps.event.addDomListener(owner_ev, "trust_on", function(){
      trust_ev.set("visible", true);
      build_ev.set("visible", true);
    });

    // 貸主マーカーにて委託契約OFFのイベント
    google.maps.event.addDomListener(owner_ev, "trust_off", function(){
      trust_ev.set("visible", false);
      build_ev.set("visible", false);
    });

    // 建物マーカーにて委託契約ONのイベント
    google.maps.event.addDomListener(build_ev, "trust_on", function(){
      trust_ev.set("visible", true);
      owner_ev.set("visible", true);
    });

    // 建物マーカーにて委託契約OFFのイベント
    google.maps.event.addDomListener(build_ev, "trust_off", function(){
      trust_ev.set("visible", false);
      owner_ev.set("visible", false);
    });

  }

  // infoWindowで委託ライン有無を押下された時に動作します。(貸主)
  function owner_trust_disp(id, flg){
    if(flg == true){
     google.maps.event.trigger(owner_arr[id], "trust_on");
    }else{
     google.maps.event.trigger(owner_arr[id], "trust_off");
    }
  }

  // infoWindowで委託ライン有無を押下された時に動作します。(建物)
  function building_trust_disp(id, flg){
    if(flg == true){
     google.maps.event.trigger(build_arr[id], "trust_on");
    }else{
     google.maps.event.trigger(build_arr[id], "trust_off");
    }
  }

  // 建物リンクをクリックした時の動きを定義します。
  function link_building_click(num, lat, lng)
  {
    mapCanvas.setZoom(18);
    google.maps.event.trigger(build_arr[num], "click");
  }

  // 貸主リンクをクリックした時の動きを定義します。
  function link_owner_click(num, lat, lng)
  {
    mapCanvas.setZoom(18);
    google.maps.event.trigger(owner_arr[num], "click");
  }

  // 営業所リンクをクリックした時の動きを定義します。
  function link_shop_click(num)
  {
    mapCanvas.setZoom(18);
    google.maps.event.trigger(shop_arr[num], "click");
  }

  function sel_itaku_owner(obj, id){
    obj_value = obj.options[obj.selectedIndex].value;
    if(obj_value == "on"){
      owner_trust_disp(id, true);
    }else{
      owner_trust_disp(id, false);
    }
  }

  function sel_itaku_building(obj, id){
    obj_value = obj.options[obj.selectedIndex].value;
    if(obj_value == "on"){
      building_trust_disp(id, true);
    }else{
      building_trust_disp(id, false);
    }
  }

  function sel_view(obj, lat, lng){
    obj_value = obj.options[obj.selectedIndex].value;
    if(obj_value == "on"){
      view_disp(true, lat, lng);
    }else{
      view_disp(false, lat, lng);
    }
  }

  // 管理方式のICONを返します。
  function get_manage_icon(manage_id){
    switch(manage_id){
      case 1:
        break;
      default:
        break;
    }
  }


  function write_build(biru)
  {
    document.getElementById("m_name").innerText=biru;
  }

  // ズームを変更する maker_kind 1:建物 2:貸主
  function changeZoom(marker_id, maker_kind) {

    var marker;

    if(maker_kind == 1){
      marker = build_arr[marker_id];
    }
    else{
      marker = owner_arr[marker_id];
    }

    mapCanvas.panTo(marker.position);
    mapCanvas.setZoom(18);
  }

  // 営業所のInfoBoxを登録する。
  function info_msg_shop(shop){
    var vhtml;

    vhtml = '<div><b>' + shop.name + '</b></div>' +
      '<div> TEL1：' + shop.tel +'</div>' +
      '<div> TEL2：' + shop.tel2 +'</div>' +
      '<div>定休日：' + shop.holiday +'</div>'

    return vhtml;
  }

  // 建物のInfoBoxを登録する。
  function info_msg_biru(biru, owners){
    var inner_text = "";
    var vhtml;
    var code_msg;

    if(biru.code != null){
      // 通常建物CDの時
      code_msg = "建物CD：" + biru.code;
    }else{
      // 他社建物CDの時
      code_msg = "他社建物CD：" + biru.attack_code;
    }

    for(var j in owners){
      inner_text = inner_text +
        '<li>' +
        '  <a href="javascript:link_owner_click(' + owners[j].id + ',' + owners[j].latitude + ',' + owners[j].longitude + ')">' + owners[j].name + '</a></td>' +
        '</li>'
    }

    vhtml = '<div><b>' + biru.name + '（<a href="javascript:win_building(' + biru.id + ');">詳細</a>）</b><br>' +
      '<div>住所：' + biru.address +'</div>' +
      '<div>' + code_msg +'</div>' +
      '<ul style="padding-top:10px;">' + inner_text  + '</ul>' +
      '<hr/>' +
      '<div style="padding-top:0px;margin-top:0px;padding-left:10px;float:left;">' +
      '  <label><input type="checkbox" onclick="this.blur();this.focus();" onchange="building_trust_disp(' + biru.id  + ', this.checked);" />&nbsp;委託</label>' +
      '</div>' +
      '<div style="padding-left:10px;float:left;">' +
      '  <a href="javascript:void(0)" onClick="changeZoom(' + biru.id + ', 1); return false;">ズーム</a>' +
      '</div>' +
      '<div style="padding-left:120px;">' +
      '  <a href="javascript:void(0)" onClick="view_disp( true, ' + biru.latitude + ',' + biru.longitude  + '); return false;">View</a>' +
      '</div>' +
      '</div>';

    return vhtml;

  }


  // 貸主のInfoBoxのメッセージを作成する。
  function info_msg_owner(owner, buildings){

    var inner_text = "";
    for(var j in buildings){
      inner_text = inner_text +
        '<li>' +
        '  <a href="javascript:link_building_click(' + buildings[j].id + ',' + buildings[j].latitude + ',' + buildings[j].longitude + ')">' + buildings[j].name + '</a></td>' +
        '</li>'
    }

    var code_msg;
    if(owner.code != null){
      // 通常建物CDの時
      code_msg = "貸主CD：" + owner.code;
    }else{
      // 他社建物CDの時
      code_msg = "他社貸主CD：" + owner.attack_code;
    }

    var vhtml = '<div><b>' + owner.name + '（<a href="javascript:win_owner(' + owner.id + ');">詳細</a>）</b><br>' +
      '<div>住所：' + owner.address +'</div>' +
      '<div>' + code_msg +'</div>' +
      '<ul style="padding-top:10px;">' + inner_text  + '</ul>' +
      '<hr/>' +
      '<div style="padding-top:0px;margin-top:0px;padding-left:10px;float:left;">' +
      '  <label><input type="checkbox" onclick="this.blur();this.focus();" onchange="owner_trust_disp(' + owner.id  + ', this.checked);" />&nbsp;委託</label>' +
      '</div>' +
      '<div style="padding-left:10px;float:left;">' +
      '  <a href="javascript:void(0)" onClick="changeZoom(' + owner.id  + ', 2); return false;">ズーム</a>' +
      '</div>' +
      '<div style="padding-left:120px;">' +
      '  <a href="javascript:void(0)" onClick="view_disp( true, ' + owner.latitude + ',' + owner.longitude  + '); return false;">View</a>' +
      '</div>' +
      '</div>';

    return vhtml;
  }

  // 営業所
  function get_icon_shop(num){
    var icon;

    if( num == 3 ){
      icon = 'marker_blue.png'; // 草加
    }else if (num == 11 ){
      icon = 'marker_yellow.png'; // 新田
    }else if (num == 16 ){
      icon = 'marker_purple.png'; // 北千住
    }else if (num == 1 ){
      icon = 'marker_red.png'; // 南越谷
    }else if (num == 18 ){
      icon = 'marker_orange.png'; // 越谷
    }else if (num == 8 ){
      icon = 'marker_green.png'; // 北越谷
    }else if (num == 21 ){
      icon = 'marker_white.png'; // せんげん台
    }else if (num == 7 ){
      icon = 'marker_gray.png'; // 春日部
    }else if (num == 2 ){
      icon = 'marker_blue.png'; // 戸田
    }else if (num == 5 ){
      icon = 'marker_yellow.png'; // 武蔵
    }else if (num == 15 ){
      icon = 'marker_purple.png'; // 川口
    }else if (num == 17 ){
      icon = 'marker_red.png'; // 与野
    }else if (num == 13 ){
      icon = 'marker_orange.png'; // 浦和
    }else if (num == 10 ){
      icon = 'marker_green.png'; // 東浦和
    }else if (num == 6 ){
      icon = 'marker_white.png'; // 東川口
    }else if (num == 14 ){
      icon = 'marker_gray.png'; // 戸塚安行
    }else if (num == 19 ){
      icon = 'marker_blue.png'; // 松戸
    }else if (num == 4 ){
      icon = 'marker_yellow.png'; // 北松戸
    }else if (num == 9 ){
      icon = 'marker_purple.png'; // 柏
    }else if (num == 12 ){
      icon = 'marker_red.png'; // 南流山
    }else if (num == 91 ){
      icon = 'marker_purple.png'; // 法人課
    }else {
      icon = 'marker_white.png'; // 不明
    }

    icon = '/assets/' + icon;
    return icon;
  }


  // エリア
  function get_icon_area(num){
    var icon;

    if( num == 3 || num == 11 || num == 16 ){
      icon = 'marker_blue.png'; // 東武南
    }else if (num == 1 || num == 18 ){
      icon = 'marker_yellow.png'; // 東武中央
    }else if (num == 8 || num == 21 || num == 7){
      icon = 'marker_purple.png'; // 東武北
    }else if (num == 2 || num == 5 || num == 15){
      icon = 'marker_red.png'; // さいたま南
    }else if (num == 17 || num == 13  ){
      icon = 'marker_orange.png'; // さいたま北
    }else if (num == 10 || num == 6 || num == 14 ){
      icon = 'marker_green.png'; // さいたま東
    }else if (num == 19 || num == 4 ){
      icon = 'marker_white.png'; // 常磐西
    }else if (num == 9 || num == 12){
      icon = 'marker_gray.png'; // 常磐中央
    }else if (num == 91 ){
      icon = 'marker_green.png'; // 法人課
    }else {
      icon = 'marker_white.png'; // 不明
    }

    icon = '/assets/' + icon;
    return icon;

  }

  // 支店
  function get_icon_siten(num){
    var icon;

    if( num == 3 || num == 11 || num == 16 || num == 1 || num == 18 || num == 8 || num == 21 || num == 7 ){
      icon = 'marker_green.png'; // 東武支店
    }else if (num == 2 || num == 5 || num == 15 || num == 17 || num == 13 || num == 10 || num == 6 || num == 14){
      icon = 'marker_blue.png'; // さいたま支店
    }else if (num == 19 || num == 4 || num == 9 || num == 12){
      icon = 'marker_yellow.png'; // 千葉支店
    }else if (num == 91 ){
      icon = 'marker_purple.png'; // アセットマネジメント部
    }else {
      icon = 'marker_white.png'; // 不明
    }

    icon = '/assets/' + icon;
    return icon;

  }

  // 戸数
  function get_icon_kanri_room_num(num){
    var icon;

    if(num == 1){
      icon ='marker_purple.png';
    }else if( 2 <= num && num <= 4){
        icon = 'marker_blue.png';
    }else if( 5 <= num && num <= 6){
        icon ='marker_green.png';
    }else if( 6 <= num && num <= 8){
        icon ='marker_yellow.png';
    }else if( 8 <= num && num <= 10){
        icon ='marker_orange.png';
    }else if( 11 <= num && num <= 15){
        icon ='marker_red.png';
    }else if( 16 <= num && num <= 20){
        icon ='marker_gray.png';
    }else if( 21 <= num ){
        icon ='marker_gray.png';
    }else{
        icon ='marker_white.png';
    }

    icon = '/assets/' + icon;

    return icon;
  }

  // 空室割合
  function get_icon_free_room(kosuu, aki){
    var flt;
    var icon;
    flt = aki / kosuu;

    if(flt == 0){
        icon = 'marker_blue.png';
    }else if( 0 < flt && flt <= 0.3 ){
        icon ='marker_green.png';
    }else if( 0.3 < flt && flt <= 0.6){
        icon ='marker_orange.png';
    }else if( 0.6 < flt && flt <= 0.9){
        icon ='marker_orange.png';
    }else if( 0.9 < flt && flt <= 1){
        icon ='marker_red.png';
    }else{
        icon ='marker_white.png';
    }

    icon = '/assets/' + icon;

    return icon;

  }

  // 築年数アイコン
  function get_icon_biru_age(age){
    var icon;

    if(0<= age && age <= 1){
        icon ='marker_purple.png';
    }else if( 2 <= age && age <= 5){
        icon = 'marker_blue.png';
    }else if( 6 <= age && age <= 10){
        icon ='marker_green.png';
    }else if( 11 <= age && age <= 20){
        icon ='marker_yellow.png';
    }else if( 21 <= age && age <= 30){
        icon ='marker_orange.png';
    }else if( 31 <= age && age <= 40){
        icon ='marker_red.png';
    }else if( 41 <= age ){
        icon ='marker_gray.png';
    }else{
        icon ='marker_white.png';
    }

    icon = '/assets/' + icon;

    return icon;
  }

  // 変換用配列などを作成します。
  function init_process(){

    // 営業所IDを添字、営業所CODEを値に変換用配列を作成します。。
    for(var i in gon.all_shops){
      convert_shop[gon.all_shops[i].id] = parseInt(gon.all_shops[i].code);
    }
  }

  //-------------------
  // グローバル変数定義
  //-------------------
  var convert_shop = [];
  
  function initialize(){
    
    // 初期化処理
    init_process();

    // 初期表示は非表示
    init_display();

    // 地図・ストリートビューを作成します。
    init_map();


    // 初期表示位置を調整
    var bounds = new google.maps.LatLngBounds();

    /* 建物オブジェクトを作成 */
    build_arr = {}; // グローバル
    kyori_text = ""
    var pos;
    var idx = 0;
    var biru_latlngs = [];
    var populations = [];

    var building_to_owners = gon.building_to_owners
    var buildings = gon.buildings
    for(var i in buildings){
        pos = new google.maps.LatLng(buildings[i].latitude, buildings[i].longitude);

        <% if @search_type == 2 # 貸主の時、初期状態で非表示%>
          var build_disp = false
        <% else %>
          var build_disp = true
          bounds.extend(pos);
        <% end %>

        var shop_code = convert_shop[buildings[i].shop_id];

        build_arr[buildings[i].id] = createMarker({
          position : pos
          ,map : mapCanvas
          ,icon : buildings[i].tmp_build_type_icon
          ,siten_icon : get_icon_siten(shop_code)
          ,area_icon : get_icon_area(shop_code)
          ,shop_icon : get_icon_shop(shop_code)
          ,manage_icon : buildings[i].tmp_manage_type_icon
          ,build_type_icon : buildings[i].tmp_build_type_icon
          ,kanri_room_num  : get_icon_kanri_room_num(buildings[i].kanri_room_num)
          ,free_room : get_icon_free_room(buildings[i].kanri_room_num, buildings[i].free_num)
          ,biru_age : get_icon_biru_age(buildings[i].biru_age)
          ,shadow : '/assets/marker_shadow.png'
          ,html : info_msg_biru(buildings[i], building_to_owners[buildings[i].id])
          ,visible : build_disp
        });

        /* 距離を測る */
        /*
        var origins = [];
        origins.push(pos)
        var request = {
           origins : origins
          ,destinations : distination_arr
          ,travelMode : google.maps.TravelMode.WALKING
        };

        var distanceMatrix = new google.maps.DistanceMatrixService();
        var x, ele;
        distanceMatrix.getDistanceMatrix(request, function(result, status){
          kyori_text = '<%#= biru.name %>' + "<hr>";
          for(x=0; x<distination_arr.length; x++){
            ele = result.rows[0].elements[x];
            kyori_text += distination.getAt(x).name + "まで" + ele.distance.text + "(" + ele.duration.text + ")<br>";
          }

          setInfoWnd(build_arr[<%#= biru.id %>], kyori_text);

        });
        */

        /* 戸数別のヒートマップを作る為のオブジェクト */
        populations.push({
          location : pos
          ,weight : buildings[i].room_num
        })

        biru_latlngs[idx] = pos;
        idx = idx + 1;
    }

    var heatmap_biru = new google.maps.visualization.HeatmapLayer();
    heatmap_biru.setData(biru_latlngs);

    var heatmap_room = new google.maps.visualization.HeatmapLayer();
    heatmap_room.setData(populations);

    /* ヒートマップイベント登録 */
    var hiatmap00Radio = document.getElementById("hiatmap00Radio");
    google.maps.event.addDomListener(hiatmap00Radio, "click", function(){
      heatmap_biru.setMap(null);
      heatmap_room.setMap(null);
    });

    var hiatmap01Radio = document.getElementById("hiatmap01Radio");
    google.maps.event.addDomListener(hiatmap01Radio, "click", function(){
      heatmap_biru.setMap(mapCanvas);
      heatmap_room.setMap(null);
    });

    var hiatmap02Radio = document.getElementById("hiatmap02Radio");
    google.maps.event.addDomListener(hiatmap02Radio, "click", function(){
      heatmap_biru.setMap(null);
      heatmap_room.setMap(mapCanvas);
    });

    /* 貸主オブジェクトを作成 */
    owner_arr = {}; // varを外してグローバル化
    var owners = gon.owners
    var owner_to_buildings = gon.owner_to_buildings
    var owner_icon;
    var owner_disp;

    for(var i in owners){
      pos = new google.maps.LatLng(owners[i].latitude, owners[i].longitude);

      <% if @search_type == 1 # 建物検索の時、初期状態で非表示%>
        owner_disp = false
      <% else %>
        owner_disp = true
        bounds.extend(pos);
      <% end %>

      // 貸主かどうかでアタックを決める。
      if( owners[i].code == null){
        owner_icon = "https://chart.googleapis.com/chart?chst=d_map_pin_icon&chld=home%7C0033FF"
      } else {
        owner_icon = "https://chart.googleapis.com/chart?chst=d_map_pin_icon&chld=home%7CFFFF00"
      }

      owner_arr[owners[i].id] = createMarker({
        position : pos
        ,map : mapCanvas
        ,icon : owner_icon
        ,html : info_msg_owner(owners[i], owner_to_buildings[owners[i].id])
        ,visible : owner_disp
      });
    }

    /* 委託契約CDのラインを引く */
    var trust_arr = {};
    var trusts = gon.trusts
    for(var i in trusts){

      // 貸主マスタ・建物マスタに委託で指定した貸主CD・建物CDが存在することを確認
      if ( !owner_arr[trusts[i].owner_id] ){
          continue;
      }

      if ( !build_arr[trusts[i].building_id]){
          continue;
      }

      trust_arr[trusts[i].id] = new google.maps.Polyline({
         map : mapCanvas
        ,path : [owner_arr[trusts[i].owner_id].position, build_arr[trusts[i].building_id].position]
        ,strokeColor: gon.manage_line_color[trusts[i].manage_type_id]
        ,strokeOpacity:0.5
        ,strokeWeight:3
        ,zIndex:1
      });

      // 初期状態は非表示
      trust_arr[trusts[i].id].set("visible", false);

      // ダブルクリック時のイベント登録
      trust_ev = trust_arr[trusts[i].id]
      owner_ev = owner_arr[trusts[i].owner_id]
      build_ev = build_arr[trusts[i].building_id]

      // クリックした時のオブジェクトを保存するために、イベントは関数呼び出しで登録する。
      create_relation_listener(trust_ev, owner_ev, build_ev)

    }

    /* 営業所の情報を表示する */
    shop_arr = {}; // varを消してグローバル化
    var shop_circle01_arr = {};
    var shop_circle02_arr = {};
    var distination = new google.maps.MVCArray();
    var distination_arr = [];

    var shops = gon.shops
    for(var i in shops){

      pos = new google.maps.LatLng(shops[i].latitude, shops[i].longitude);
      bounds.extend(pos);

      shop_arr[shops[i].id] = createMarker({
        position : pos
        ,map : mapCanvas
        ,animation: google.maps.Animation.DROP
        ,icon : shops[i].icon
        ,info_msg : shops[i].name
        ,html : info_msg_shop(shops[i])
      });

      /* 営業所の円を作成 */
      shop_circle01_arr[shops[i].id] = create_circle(1000, mapCanvas, pos);
      shop_circle02_arr[shops[i].id] = create_circle(2000, mapCanvas, pos);

      /* 距離を測る対象を設定 */
      distination.push({name:shops[i].name, latLng:[shops[i].latitude,shops[i].longitude]});
      distination_arr.push(pos);
    }

    mapCanvas.fitBounds(bounds);

    /* すべての委託契約の表示をON または OFF にする。 */
    var trustChkbox = document.getElementById("trustChkbox");
    google.maps.event.addDomListener(trustChkbox, "click", function(){
        // console.log(trust_arr);
        for(var item in trust_arr){
          trust_arr[item].set("visible", trustChkbox.checked);
        };
    });

    /* すべての貸主を表示・非表示にする */
    var ownerChkbox = document.getElementById("ownerChkbox");
    google.maps.event.addDomListener(ownerChkbox, "click", function(){
        for(var item in owner_arr){
          owner_arr[item].set("visible", ownerChkbox.checked);
        };
    });

    /* すべての営業所を表示・非表示にする */
    var storeChkbox = document.getElementById("storeChkbox");
    google.maps.event.addDomListener(storeChkbox, "click", function(){
        // console.log(trust_arr);
        for(var item in shop_arr){
          shop_arr[item].set("visible", storeChkbox.checked);
        };
    });

//    /* 管理方式をチェックした時、建物のマークを変更する */
//     var kanriRadio = document.getElementById("kanriRadio");
//    google.maps.event.addDomListener(kanriRadio, "click", function(){
//        for(var item in build_arr){
//          build_arr[item].setIcon(build_arr[item].manage_icon );
//        };
//    });

    /* 物件種別をチェックした時、建物のマークを変更する */
//    var bukkenRadio = document.getElementById("bukkenRadio");
//    google.maps.event.addDomListener(bukkenRadio, "click", function(){
//        for(var item in build_arr){
//          build_arr[item].setIcon(build_arr[item].build_type_icon );
//        };
//    });

    /* 営業所の範囲サークルの表示１ */
    var circle01Check = document.getElementById("circle01Check");
    google.maps.event.addDomListener(circle01Check, "click", function(){
      for(var item in shop_circle01_arr){
        shop_circle01_arr[item].set("visible", circle01Check.checked);
      };
    });

    /* 営業所の範囲サークルの表示２ */
    var circle02Check = document.getElementById("circle02Check");
    google.maps.event.addDomListener(circle02Check, "click", function(){
      for(var item in shop_circle02_arr){
        shop_circle02_arr[item].set("visible", circle02Check.checked);
      };
    });

    // マップをクリックしたらマーカーが落ちてくる。
    google.maps.event.addListener(mapCanvas, 'click', function(e){
      var click_marker = createMarker({
        position : e.latLng
        ,map : mapCanvas
        ,animation: google.maps.Animation.DROP
        ,html:'クリックして作りました！'
      });

    })

  } // end initialize

  google.maps.event.addDomListener(window, "load", initialize);


</script>

  <style type="text/css">
    html, body{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }

    #map_canvas{
      position: fixed;
      width:100%;
      height:95%;
      top:0px;
      left:0;
    }

    #top-menu{
      padding:0;
      margin:0;
    }
  </style>

<% end %>

<% content_for :sidebar_map do %>

  <!-- ここは span3で呼び出されている -->

    <div style="padding-left:10px;width:330px;">
      <ul class="nav nav-tabs">
        <li class="<%= @tab_search %>"><a href="#tab_search" data-toggle="tab" style=";padding:10px 15px 10px 15px;width:120px;text-align: center;">検索をする</a></li>
        <li class="<%= @tab_result %>"><a href="#tab_result" data-toggle="tab" style="padding:10px 15px 10px 15px;width:120px;text-align: center;">結果を確認する</a></li>
      </ul>

      <div id="myTabContent_search" class="tab-content">

        <!-- 検索条件設定 -->
        <div class="tab-pane fade <%= @tab_search %> " id="tab_search" style="padding:0;margin:0">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab" style="width:70px;text-align: center;">&nbsp;建物検索</a></li>
            <li><a href="#tab2" data-toggle="tab" style="width:75px;text-align: center;">貸主検索</a></li>
            <li><a href="#tab3" data-toggle="tab" style="width:80px;text-align: center;">バルク検索</a></li>
          </ul>

          <div id="myTabContent1" class="tab-content">
            <div class="tab-pane fade active in" id="tab1" style="margin-left:15px;">
               <%= render :partial=>'search_build' %>
            </div>
            <div class="tab-pane fade" id="tab2" style="margin-left:15px;">
               <%= render :partial=>'search_owner' %>
            </div>
            <div class="tab-pane fade" id="tab3" style="padding-left:30px;">
               <%= render :partial=>'search_bulk' %>
            </div>
          </div>
        </div>

        <!-- 検索結果確認 -->
        <div class="tab-pane fade <%= @tab_result %>" id="tab_result" >
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab7" data-toggle="tab" style="width:65px;text-align: center;">表示設定</a></li>
            <li><a href="#tab4" data-toggle="tab" style="width:40px;text-align: center;">建物</a></li>
            <li><a href="#tab5" data-toggle="tab" style="width:40px;text-align: center;">貸主</a></li>
            <li><a href="#tab6" data-toggle="tab" style="width:45px;text-align: center;">営業所</a></li>
          </ul>

          <div id="myTabContent2" class="tab-content" style="padding-left:10px;">
            <div class="tab-pane fade" id="tab4">
               <%= render :partial=>'result_buildings' %>
            </div>
            <div class="tab-pane fade" id="tab5">
               <%= render :partial=>'result_owners' %>
            </div>
            <div class="tab-pane fade" id="tab6">
               <%= render :partial=>'result_shops' %>
            </div>
            <div class="tab-pane active in fade" id="tab7" style="padding-left:10px;">
               <%= render :partial=>'disp' %>
            </div>
          </div>

        </div>

      </div>

    </div>

<script type="text/javascript">
$(document).ready(function() {
  $('#simple-menu').sidr({
    side: 'right'
  });
});
</script>
<% end %>


  <!-- ここは span9で呼び出されているので合計も9に合わせる -->
  <!--
<div class="span12" style="float:left;padding-left:10px;">
  -->
  <a id="simple-menu" href="#sidr"></a>
  <!--
  <div style="border-width : 3px;border-style : solid;border-color : silver;">
  -->
    <div id="map_canvas" style="width: 100%;height:95%;"></div>
    <div id="panowide" style="width: 100%; height: 0px;margin-top: 5px;">
      <!--
       <input type="button" value="閉じる" onclick="sv_init();" style="top: 10px;right: 20px;position:absolute;z-index: 500;" />
      -->
    </div>
    <!--
  </div>
    -->
    <!--
</div>
  -->



