  <legend style="padding:20px;padding-botom:10px;"><%= @owner.name %></legend>
  
<table>
	<tr>
		<td style="vertical-align:top;padding-left:20px;">
			<div style="border-width:3px; border-style:solid; border-color:silver;">
			  <div id="pop_map_canvas" style="width: 600px;height:470px;"></div>
			</div>
			
		</td>
		<td style="vertical-align:top;padding-left:20px;padding-right:20px;">

			<div class="table-responsive panel panel-default">
				<table class="table table-bordered">
					<thead>
						<tr class="active">
							<td colspan="2" style="font-weight:bold">貸主基本情報（<a href="" onClick="javascript:alert('この機能はまだ使えません');return false;" >編集</a>）</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<% if @owner.code %>
								<td style="text-align:right;">貸主CD</td>
								<td><%= @owner.code %></td>
							<% else %>
								<td style="text-align:right;font-size:12px;">見込み貸主CD</td>
								<td><%= @owner.attack_code %></td>
							<% end%>
						</tr>
						<tr>
							<td style="text-align:right;">名前</td>
							<td><%= @owner.name %></td>
						</tr>
						<tr>
							<td style="text-align:right;">電話番号</td>
							<td><%= @owner.tel %></td>
						</tr>
						<tr>
							<td style="text-align:right;">住所</td>
							<td><%= @owner.address %></td>
						</tr>

					</tbody>
				</table>
			</div>
						
			<div class="table-responsive panel panel-default">
				<table class="table table-bordered table-condensed">
			      <thead>
			        <tr>
			          <th class="active">建物名</th>
			          <th class="active">住所</th>
			          <th class="active">管理営業所</th>
			          <th class="active">見込ランク</th>
			        </tr>
			      </thead>
			      <tbody>
					  <% @biru_and_state.each do | biru_and_state| %>
					  	  <% trust = biru_and_state[0] %>
						  <% building = biru_and_state[1] %>
						  <% attack_state_before = biru_and_state[2] %>
						  <% attack_state_current = biru_and_state[3] %>
						  <% this_month_trust = biru_and_state[4] %>
						  
					        <tr>
					          <td><a href="javascript:win_building(<%= building.id %>);"><%= building.name %></a></td>
					          <td><%= building.address %></td>
							  
							  <% if building.shop %>
							  	<td><%= building.shop.name %></td>
							  <% else %>
							  	<td></td>
							  <% end %>
							  
							  <!--  ここでは現時点で最新の見込み状態を表示する -->
							  <% if attack_state_current %>
							  	<td><a data-toggle="modal" href="#myModal_<%= building.id.to_s %>"  ><%= attack_state_current.name %></a></td>
							  <% else %>
							  	<td><a data-toggle="modal" href="#myModal_<%= building.id.to_s %>"  >未設定</a></td>
							  <% end %>
							  
					        </tr>
							
							
							<script type="text/javascript">
								function rank_disp(disp_id, obj){
									if(obj.options[obj.selectedIndex].value == <%= AttackState.find_by_code('Z').id.to_s %>){
										// 成約済みを選択時、契約戸数等の入力欄を表示
										document.getElementById(disp_id).style.display = "";
									}else{
										// 成約済み以外を選択時、契約戸数等の入力欄を非表示
										document.getElementById(disp_id).style.display = "none";
									}
								}
							</script>
							
							<!-- ランクアップ編集画面（モーダルダイアログ ） -->
							<div class="modal fade" id="myModal_<%=  building.id.to_s %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_<%=  building.id.to_s %>" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
								<%= simple_form_for :trust, :url=>{:controller => :managements, :action => :popup_owner_trust_update }, :html=>{class: 'form-horizontal'} do |f| %>
					
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							        <h4 class="modal-title" id="myModalLabel">見込みランク変更</h4>
							      </div>
				  
							      <div class="modal-body">
									  
										<%= f.input :id, :as => :hidden, :input_html => {:value => trust.id.to_s } %>
										<%= hidden_field_tag 'before_attack_state_id', attack_state_before.id %>
										<%#= hidden_field_tag 'month', @cur_month %>
										
										<% histories = TrustAttackStateHistory.where("trust_id = ?", trust.id ).order("month asc") %>
										<div style="margin-bottom:20px;">
											<label>変更履歴</label>
											<% if histories.length  == 0 %>
												未設定
											<% else %>
												<% histories.each do | history | %>
													<div>
														<%= history.month.to_s + ' ' + history.attack_state_to.name %>
														<% if history.attack_state_to.code == 'Z' %>
															
															<% 
															 msg = ""
															 if history.manage_type
															   msg = msg + history.manage_type.name 
															 end
															 
															 if history.trust_oneself
  															   msg = msg + " 自社"
															 else
    														   msg = msg + " 他社"
															 end
															 
															 msg = msg + " " + history.room_num.to_s + "戸"
															%>
															＜ <%= msg %>　＞
														<% end %>
													</div>
												<% end %>
											<% end %>
										</div>
										
										<label>変更後ランク&nbsp;<%= select_tag(:month, options_for_select(@calender, @cur_month)) %></label>
										<div>
											<%= f.input :attack_state_id, collection: AttackState.order(:disp_order), :label=>false, :input_html => {:onchange => "javascript:rank_disp('rank_disp_id_#{trust.id.to_s}', this);"}  %>
											<div id="rank_disp_id_<%= trust.id.to_s %>" style="display:none">
												<div style="margin-bottom:5px;">&nbsp;</div>
												<div>契約戸数：<%= text_field_tag :room_num, this_month_trust[:room_num], :size=>"2" %>&nbsp;戸</div>
												<div>管理方式：<%= collection_select :history, :manage_type, ManageType.all, :id, :name, :include_blank => true, :selected=>  this_month_trust[:manage_type_id] %></div>
												<% if this_month_trust[:trust_oneself] %>
													<div>受託自他：<%= radio_button :history, :oneself, 'yourself' %>&nbsp;他社&nbsp;&nbsp;<%= radio_button :history, :oneself, 'oneself', {:checked => true }  %>&nbsp;自社</div>
												<% else %>
													<div>受託自他：<%= radio_button :history, :oneself, 'yourself', {:checked => true } %>&nbsp;他社&nbsp;&nbsp;<%= radio_button :history, :oneself, 'oneself' %>&nbsp;自社</div>
												<% end %>
											</div>
										</div>
			       
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
							        <%= f.submit '登録', :class => 'btn btn-primary' %>
							      </div>
								<% end %>
				  
							    </div><!-- /.modal-content -->
							  </div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
						  
					  <% end %>
					  
			      </tbody>
			    </table>
			</div>
			<%= form_for(@owner, :url=>{:action=>'popup_owner_update', :controller=>'managements', :id=>@owner}, :html=>{:class=>"form-horizontal"}) do |f|%>
			
			<div>
				DM発送&nbsp;&nbsp;あり&nbsp;<%= f.radio_button 'dm_delivery', true %>
				&nbsp;&nbsp;なし&nbsp;<%= f.radio_button 'dm_delivery', false %>
			</div>
			
			<div style="clear:both;margin-top:10px;">
				<%= f.text_area :memo,  :size => "5x3", :class=>"form-control", :placeholder=>'メモ'  %>
			</div>
			
			<div style="padding-top:10px;text-align:center;float:left;">
				<%= f.submit '更新', :class=>"btn btn-primary" %>
			</div>
			
			<% end %>
			
		</td>
	</tr>
</table>

	<div style="clear:both;margin-top:50px;">

		<%= simple_form_for :owner_approach, :url=>{:controller => :managements, :action => :owner_approach_regist}  do |f| %>
			<%= f.input :owner_id, :as => :hidden, :input_html => {:value => @owner.id } %>
			<%= f.input :biru_user_id, :as => :hidden, :input_html => {:value => @biru_user.id } %>
	
			<table>
				<tr>
					<td><%= f.input :approach_date, label:'日付', placeholder: 'yyyy/mm/dd', :input_html => {:type => 'date', :style=>'width:120px;margin-left:0px;padding-left:0px;vertical-align:middle' } %></td>
					<td><%= f.input :approach_kind_id, label: '種別', collection: ApproachKind.order(:sequence), prompt: "--", :input_html => {:style=>'width:100px;margin-left:0px;padding-left:0px;vertical-align:middle' } %></td>
					<td><%= f.input :content, label: '内容', placeholder: 'アプローチ内容をいれてください', :input_html => {:class => 'input-large', :style=>'width:200px;vertical-align:botto'} %></td>
					<td><%= f.submit '登録', :class => 'btn-primary', :style=>'margin-bottom:20px;margin-left:20px;' %></td>
				</tr>
			</table>
		
			<%#= f.input :approach_date, label: '日付', as: :datepicker %>
		<% end %>

		<div style="padding-left:20px;padding-right:20px;margin-top:20px;width:950px;">
			<%= grid(@owner_approaches) do |g|
		 		g.column name: '' do |obj| link_to('削除',{:controller=>'managements', :action=>'owner_approach_delete', :id=>obj.id.to_s, :owner_id=>@owner.id.to_s}, :confirm => "削除します。よろしいですか？") end
		 		g.column name: 'アプローチ日' do |obj| obj.approach_date if obj.approach_date end
				g.column name: '種別' do |obj| obj.approach_kind.name if obj.approach_kind end
				g.column name: '内容' do |obj| obj.content if obj.content end
				g.column name: '登録者' do |obj| obj.biru_user.name if obj.biru_user end
				g.column name: '登録日' do |obj| obj.created_at if obj.created_at end
			end
			%>
		</div>
		
	</div>



