
<%= form_for(@building, :url=>{:action=>'popup_building_update', :id=>@building}, :html=>{:class=>"form-horizontal"}) do |f|%>
<fieldset>
  <legend><%= @building.name %></legend>

  <ul>
    <li><%= @building.address %></li>

    <% if @building.shop %>
      <li><%= @building.shop.name %></li>
    <% end %>

    <% if @building.code %>
      <li>建物CD&nbsp&nbsp;<%= @building.code %></li>
    <% else %>
      <li>アタック建物CD&nbsp;&nbsp;<%= @building.attack_code %></li>
    <% end %>

    <% if @trust %>
    <li>委託CD&nbsp;&nbsp;<%= @trust.code + "  ( " + @trust.manage_type.name + " )"  %> </li>
      <% if @trust.owner %>
        <li>貸主CD&nbsp;&nbsp;<%= @trust.owner.code + "  ( " + @trust.owner.name + " 様 )"  %> </li>
      <% end %>
    <% end %>


    <% if @building.build_type %>
      <li><%= @building.build_type.name %></li>
    <% end %>


  </ul>

  <div style="padding-left:30px;">
    <%= f.text_area :memo,  :size => "5x2", :class=>"form-control", :placeholder=>'メモ'  %>
  </div>

  <div class="form-actions" style="padding-left:120px;">
    <%= f.submit '更新', :class=>"btn btn-primary" %>
    <button type="reset" class="btn" onClick="window.close();return false;">閉じる</button>
  </div>

  <div style="padding-top:10px;">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>号室</th>
          <th>状態</th>
          <th>間取り</th>
          <th>管理方式</th>
        </tr>
      </thead>
      <tbody>
        <% @building.rooms.each do |room| %>
        <tr>
          <td><%= room.name %></td>

          <% if room.free_state %>
            <td><span class="label label-important">空き</span></td>
          <% else %>
            <td><span class="label label-success">入居中</span></td>
          <% end %>

          <td><%= room.room_layout.name if room.room_layout %></td>
          <td><%= room.manage_type.name if room.manage_type %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</fieldset>
<% end %>


