  <legend style="padding:20px;padding-botom:10px;">
	  <%= @owner.name + " " + @owner.honorific_title if @owner.honorific_title %>
	  <% if @owner.biru_user %>
		  &nbsp;&nbsp;<span style="font-size:medium;text-aling:right">（担当：<%= @owner.biru_user.name %>）</span>
	  <% end %>
  </legend>
  
<table>
	<tr>
		<td style="vertical-align:top;padding-left:20px;">
			<div style="border-width:3px; border-style:solid; border-color:silver;">
			  <div id="pop_map_canvas" style="width:500px;height:400px;"></div>
			</div>
			
		</td>
		<td style="vertical-align:top;padding-left:20px;padding-right:20px;width:500px;" >

			<div class="table-responsive panel panel-default">
				<table class="table table-bordered">
					<thead>
						<tr class="active">
							<td colspan="2" style="font-weight:bold">貸主基本情報（<a data-toggle="modal" href="#modal-owner-update"  >編集</a>）</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<% if @owner.code %>
								<td style="text-align:right;">貸主CD</td>
								<td><%= @owner.code %></td>
							<% else %>
								<td style="text-align:right;font-size:12px;">見込み貸主CD</td>
								<td><%= @owner.attack_code %></td>
							<% end%>
						</tr>
						<tr>
							<td style="text-align:right;">カナ</td>
							<td><%= @owner.kana %></td>
						</tr>
						<tr>
							<td style="text-align:right;">名前</td>
							<td><%= @owner.name %></td>
						</tr>
						<tr>
							<td style="text-align:right;">電話番号</td>
							<td><%= @owner.tel %></td>
						</tr>
						<tr>
							<td style="text-align:right;">住所</td>
							<td><%= @owner.address %></td>
						</tr>
						<tr>
							<td style="text-align:right;">ＤＭ発行パターン</td>
							<td>
								<% unless @owner.dm_delivery %>
									発行しない
								<% else %>
									<% if @owner.dm_ptn_1 == false and @owner.dm_ptn_2 == false and @owner.dm_ptn_3 == false and @owner.dm_ptn_3 == false  %>
										発行パターンが未設定です
									<% else %>
										<%= '①　' if @owner.dm_ptn_1 %>
										<%= '②　' if @owner.dm_ptn_2 %>
										<%= '③　' if @owner.dm_ptn_3 %>
										<%= '④　' if @owner.dm_ptn_4 %>
									<% end %>
								<% end %>
								
							</td>
						</tr>
						<tr>
							<td style="text-align:right;">添付書類</td>
							<td><a data-toggle="modal" href="#modal-owner-document"><%= @owner.documents.count %>件</a></td>
						</tr>

					</tbody>
				</table>
			</div>
						
			<%= form_for(@owner, :url=>{:action=>'popup_owner_update_memo', :controller=>'managements', :id=>@owner}, :html=>{:class=>"form-horizontal"}) do |f|%>
			
				<div style="clear:both;margin-top:10px;">
					<%= f.text_area :memo,  :size => "8x6", :class=>"form-control", :placeholder=>'メモ'  %>
				</div>
				<div style="padding-top:10px;">
					<%= f.submit '更新', :class=>"btn btn-sm btn-primary print-none"%>
				</div>
			
			<% end %>
			
		</td>
	</tr>
</table>

			<div style="padding:30px 20px 0px 20px">
				<table class="table table-bordered table-condensed" style="padding-bottom:0px;margin-bottom:3px;">
			      <thead>
			        <tr>
			          <th class="active">建物名</th>
			          <th class="active">住所</th>
					  <% if @owner.attack_code %>
				          <th class="active" style="text-align:center">現管理会社</th>
					  <% end %>
			          <th class="active" style="text-align:center">管轄営業所</th>
					  <% if @owner.attack_code %>
				          <th class="active" style="text-align:center">重点</th>
					  <% end %>
			          <th class="active">見込ランク</th>
			        </tr>
			      </thead>
			      <tbody>
					  <% @biru_and_state.each do | biru_and_state| %>
					  	  <% trust = biru_and_state[0] %>
						  <% building = biru_and_state[1] %>
						  <% attack_state_before = biru_and_state[2] %>
						  <% attack_state_current = biru_and_state[3] %>
						  <% this_month_trust = biru_and_state[4] %>
						  
					        <tr>
					          <td><a href="javascript:win_building(<%= building.id %>);"><%= building.name %></a></td>
					          <td><%= building.address %></td>
							  
							  <% if @owner.attack_code %>
	 					          <td style="text-align:center;"><%= building.proprietary_company %></td>
							  <% end %>
							  
							  <% if building.shop %>
							  	<td style="text-align:center;"><%= building.shop.name %></td>
							  <% else %>
							  	<td></td>
							  <% end %>
							  
							  <% if @owner.attack_code %>
							  	  <% if building.selectively_flg %>
		 					          <td style="text-align:center;">●</td>
								  <% else %>
		 					          <td style="text-align:center;">-</td>
								  <% end %>
							  <% end %>
							  
							  
							  <!--  ここでは現時点で最新の見込み状態を表示する -->
							  <% if attack_state_current %>
							  	<td><a data-toggle="modal" href="#myModal_<%= building.id.to_s %>"  ><%= attack_state_current.name %></a></td>
							  <% else %>
							  	<td><a data-toggle="modal" href="#myModal_<%= building.id.to_s %>"  >未設定</a></td>
							  <% end %>
							  
					        </tr>
							
							
							<script type="text/javascript">
								function rank_disp(disp_id, obj){
									if(obj.options[obj.selectedIndex].value == <%= AttackState.find_by_code('Z').id.to_s %>){
										// 成約済みを選択時、契約戸数等の入力欄を表示
										document.getElementById(disp_id).style.display = "";
									}else{
										// 成約済み以外を選択時、契約戸数等の入力欄を非表示
										document.getElementById(disp_id).style.display = "none";
									}
								}
								
								function rank_submit_check(){
									obj = document.getElementById('trust_attack_state_id');

									// ランクZの時、必須項目の入力チェックを行う
									if(obj.options[obj.selectedIndex].value == <%= AttackState.find_by_code('Z').id.to_s %>){
										
										if($('#room_num').val() == ''){
											alert('契約戸数を設定してください');
											return false;
										};
										
										if($('#history_manage_type').children(':selected').val() == ''){
											alert('管理方式を選択してください');
											return false;
										}
										
									}
									
									return true;
								}
							</script>
							
							<!-- ランクアップ編集画面（モーダルダイアログ ） -->
							<div class="modal fade" id="myModal_<%=  building.id.to_s %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_<%=  building.id.to_s %>" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
								<%= simple_form_for :trust, :url=>{:controller => :trust_managements, :action => :popup_owner_trust_update }, :html=>{class: 'form-horizontal'} do |f| %>
					
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							        <h4 class="modal-title" id="myModalLabel">見込みランク変更</h4>
							      </div>
				  
							      <div class="modal-body">
									  
										<%= f.input :id, :as => :hidden, :input_html => {:value => trust.id.to_s } %>
										<%= hidden_field_tag 'before_attack_state_id', attack_state_before.id %>
										<%#= hidden_field_tag 'month', @cur_month %>
										
										<% histories = TrustAttackStateHistory.where("trust_id = ?", trust.id ).order("month asc") %>
										<div style="margin-bottom:20px;">
											<label>変更履歴</label>
											<% if histories.length  == 0 %>
												未設定
											<% else %>
												<% histories.each do | history | %>
													<div>
														<%= history.month.to_s + ' ' + history.attack_state_to.name %>
														<% if history.attack_state_to.code == 'Z' %>
															
															<% 
															 msg = ""
															 if history.manage_type
															   msg = msg + history.manage_type.name 
															 end
															 
															 if history.trust_oneself
  															   msg = msg + " 自社"
															 else
    														   msg = msg + " 他社"
															 end
															 
															 msg = msg + " " + history.room_num.to_s + "戸"
															%>
															＜ <%= msg %>　＞
														<% end %>
													</div>
												<% end %>
											<% end %>
										</div>
										
										<label>変更後ランク&nbsp;<%= select_tag(:month, options_for_select(@calender, @cur_month)) %></label>
										<div>
											<%= f.input :attack_state_id, collection: AttackState.order(:disp_order), :label=>false, :input_html => {:onchange => "javascript:rank_disp('rank_disp_id_#{trust.id.to_s}', this);"}  %>
											<div id="rank_disp_id_<%= trust.id.to_s %>" style="display:none">
												<div style="margin-bottom:5px;">&nbsp;</div>
												<div>契約戸数：<%= text_field_tag :room_num, this_month_trust[:room_num], :size=>"2" %>&nbsp;戸</div>
												<div>管理方式：<%= collection_select :history, :manage_type, ManageType.all, :id, :name, :include_blank => true, :selected=>  this_month_trust[:manage_type_id] %></div>
												<% if this_month_trust[:trust_oneself] %>
													<div>受託自他：<%= radio_button :history, :oneself, 'yourself' %>&nbsp;他社&nbsp;&nbsp;<%= radio_button :history, :oneself, 'oneself', {:checked => true }  %>&nbsp;自社</div>
												<% else %>
													<div>受託自他：<%= radio_button :history, :oneself, 'yourself', {:checked => true } %>&nbsp;他社&nbsp;&nbsp;<%= radio_button :history, :oneself, 'oneself' %>&nbsp;自社</div>
												<% end %>
											</div>
										</div>
			       
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
							        <%= f.submit '登録', :class => 'btn btn-primary btn-sm', :onclick=>'return rank_submit_check();' %>
							      </div>
								<% end %>
				  
							    </div><!-- /.modal-content -->
							  </div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
						  
					  <% end %>
					  
			      </tbody>
			    </table>
				<% if @owner.attack_code %>
					<div style="text-align:right;margin-right:10px;" class="print-none"><%= link_to '【建物追加】', popup_owner_buildings_path(@owner.id), :style=>'text-decoration:none' %></div>
				<% end %>
			</div>


	<div style="clear:both;margin-top:50px;">

		<div class="print-none">
			
			<%= simple_form_for :owner_approach, :url=>{:controller => :managements, :action => :owner_approach_regist}  do |f| %>
				<%= f.input :owner_id, :as => :hidden, :input_html => {:value => @owner.id } %>
				<%= f.input :biru_user_id, :as => :hidden, :input_html => {:value => @biru_user.id } %>
	
				<table>
					<tr>
						<td><div class="input-append date"><%= f.input :approach_date, label:'日付', placeholder: 'yyyy/mm/dd', :input_html => {:type => 'text', :style=>'width:100px;', :id=>'reg-date', :value=>Date.today.strftime('%Y/%m/%d')  } %></div></td>
						<td><%= f.input :approach_kind_id, label: '種別', collection: ApproachKind.order(:sequence), prompt: "--", :input_html => {:style=>'width:100px;margin-left:0px;padding-left:0px;vertical-align:middle' } %></td>
						<td><%= f.submit '登録', :class => 'btn btn-primary btn-sm', :style=>'margin-left:20px;' %></td>
					</tr>
				</table>
				<div style="margin-left:30px;margin-top:10px;">
					<%= f.text_area :content, label: '内容', placeholder: 'アプローチ内容をいれてください', :size => "115x4", :class =>"required", :required=>"required"  %>
				</div>
		
				<%#= f.input :approach_date, label: '日付', as: :datepicker %>
			<% end %>
		</div>

		<div style="padding-left:20px;padding-right:20px;margin-top:20px;width:1000px;">
			<%= grid(@owner_approaches) do |g|
		 		g.column name: '', :html=>{:style=>'width:50px;'} do |obj| link_to('削除',{:controller=>'managements', :action=>'owner_approach_delete', :id=>obj.id.to_s, :owner_id=>@owner.id.to_s}, :confirm => "削除します。よろしいですか？", :class=>'print-none') end
		 		g.column name: 'アプローチ日', :html=>{:style=>'width:100px;'} do |obj| obj.approach_date if obj.approach_date end
				g.column name: '種別', :html=>{:style=>'width:100px;'} do |obj| obj.approach_kind.name if obj.approach_kind end
				g.column name: '内容' do |obj| obj.content if obj.content end
				g.column name: '登録者', :html=>{:style=>'width:120px;'} do |obj| obj.biru_user.name if obj.biru_user end
				g.column name: '登録日', :html=>{:style=>'width:150px;'} do |obj| obj.created_at if obj.created_at end
			end
			%>
		</div>
		
	</div>

<!-- モーダルダイアログ(貸主更新) -->
<div class="modal fade" id="modal-owner-update" tabindex="-1" role="dialog" aria-labelledby="modal-owner-update-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">貸主更新</h4>
      </div>

	<%= simple_form_for :owner, :url=>{:action => :popup_owner_update, :id=>@owner.id}, :html=>{ :class=> 'form-horizontal' } do |f| %>
		<div class="modal-body">
			<%= f.input :name, label: '貸主名',  :input_html => {:class=>'form-control', :style=>'width:300px;'} %>
			<%= f.input :kana, label: 'カナ',  :input_html => {:class=>'form-control', :style=>'width:300px;'} %>
			<%= f.input :honorific_title, label: '敬称',  :input_html => {:class=>'form-control', :style=>'width:300px;'} %>
			<%= f.input :postcode, label: '郵便番号',  :input_html => {:class=>'form-control', :style=>'width:300px;'} %>
			<%= f.input :address, label: '住所',  :input_html => {:class=>'form-control', :style=>'width:300px;'} %>
			<%= f.input :tel, label: '電話番号',  :input_html => {:class=>'form-control', :style=>'width:300px;'} %>
			<%= f.input :dm_delivery, :collection=> [["有", true],["無", false]], :as=>:radio_buttons, :item_wrapper_class=>"inline", :label=>'ＤＭ発行' %>
			
			<%= f.input :dm_ptn_1, :as => :boolean, label: 'ＤＭ１' %>
			<%= f.input :dm_ptn_2, :as => :boolean, label: 'ＤＭ２' %>
			<%= f.input :dm_ptn_3, :as => :boolean, label: 'ＤＭ３' %>
			<%= f.input :dm_ptn_4, :as => :boolean, label: 'ＤＭ４' %>
		</div>
		<div class="modal-footer">
			<%= f.submit '更新', :class=>"btn btn-default", :style=>"margin:0" %>
		</div>
	<% end %>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- モーダルダイアログ(ドキュメント管理) -->
<div class="modal fade" id="modal-owner-document" tabindex="-1" role="dialog" aria-labelledby="modal-owner-update-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">ドキュメント一覧</h4>
      </div>
	  
<script type="text/javascript">
	function document_submit(){

		if ($("#doc_file").val() === ''){
			alert('ファイル名を指定してください');
			return false;
		}
		
		return true;
	}
</script>	  

		<%= form_tag({:action=>'popup_owner_documents_regist'}, {:multipart => true ,:id => 'popup_owner_documents_regist_form'}) do %>
			<%= hidden_field_tag :owner_id, @owner.id %>
			<div style="padding:10px;">
				<table style="border-style: none;">
					<tr>
						<td><%= file_field_tag :doc_file %></td>
						<td><%= submit_tag '登録', :onclick=>('return document_submit();') %></td>
					</tr>
				</table>
			</div>
		<% end%>

		<pre class="pre-scrollable" style="background-color:white">
			<table class="table table-striped table-bordered table-hover table-condensed" style="padding:0 0 0 0;margin:0 0 0 0 ;">
		        <thead>
		          <tr>
		            <th>ファイル名</th>
		            <th>登録者</th>
		            <th>登録日</th>
		          </tr>
		        </thead>
		        <tbody>
					<% @owner.documents.each do |doc| %>
						<tr>
							<td><%=link_to doc.file_name, popup_owner_documents_download_path(doc.id) %></td>
							<td><%= doc.biru_user.name if doc.biru_user %></td>
							<td><%= doc.updated_at %></td>
						</tr>
					<% end %>
		        </tbody>
		      </table>
		</pre>


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">
$('#reg-date').datepicker({
	format: "yyyy/mm/dd",
	language: "ja",
	autoclose: true,
	orientation: "top auto"
});
</script>

