<%= form_for(@owner, :url=>{:action=>'popup_owner_update', :controller=>'managements', :id=>@owner}, :html=>{:class=>"form-horizontal"}) do |f|%>
  <legend style="padding:20px;padding-botom:10px;"><%= @owner.name %></legend>
  
<table>
	<tr>
		<td style="vertical-align:top;padding-left:20px;">
			<div style="border-width:3px; border-style:solid; border-color:silver;">
			  <div id="pop_map_canvas" style="width: 480px;height:350px;"></div>
			</div>
			
		</td>
		<td style="vertical-align:top;padding-left:20px;padding-right:20px;">

			<div class="table-responsive panel panel-default">
				<table class="table table-bordered">
					<thead>
						<tr class="active">
							<td colspan="2" style="font-weight:bold">貸主基本情報（<a href="" onClick="javascript:alert('この機能はまだ使えません');return false;" >編集</a>）</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<% if @owner.code %>
								<td style="text-align:right;">貸主CD</td>
								<td><%= @owner.code %></td>
							<% else %>
								<td style="text-align:right;font-size:12px;">見込み貸主CD</td>
								<td><%= @owner.attack_code %></td>
							<% end%>
						</tr>
						<tr>
							<td style="text-align:right;">名前</td>
							<td><%= @owner.name %></td>
						</tr>
						<tr>
							<td style="text-align:right;">住所</td>
							<td><%= @owner.address %></td>
						</tr>

					</tbody>
				</table>
			</div>
						
			<div class="table-responsive panel panel-default">
				<table class="table table-bordered table-condensed">
			      <thead>
			        <tr>
			          <th class="active">建物名</th>
			          <th class="active">住所</th>
			          <th class="active">管理営業所</th>
			          <th class="active">見込ランク</th>
			        </tr>
			      </thead>
			      <tbody>
			        <% @owner.trusts.each do |trust| %>
						<% if trust.building %>
					        <tr>
					          <td><a href="javascript:win_building(<%= trust.building.id %>);"><%= trust.building.name %></a></td>
					          <td><%= trust.building.address %></td>
							  
							  <% if trust.building.shop %>
							  	<td><%= trust.building.shop.name %></td>
							  <% else %>
							  	<td></td>
							  <% end %>
							  
							  <% if trust.attack_state %>
							  	<td><%= trust.attack_state.name %></td>
							  <% else %>
							  	<td></td>
							  <% end %>
							  
					        </tr>
						
						<% end %>
			        <% end %>
			      </tbody>
			    </table>
			</div>
			
			<div>
				DM発送&nbsp;&nbsp;あり&nbsp;<%= f.radio_button 'dm_delivery', true %>
				&nbsp;&nbsp;なし&nbsp;<%= f.radio_button 'dm_delivery', false %>
			</div>
			
			<div style="clear:both;margin-top:10px;">
				<%= f.text_area :memo,  :size => "5x3", :class=>"form-control", :placeholder=>'メモ'  %>
			</div>
			
			<div style="padding-top:10px;text-align:center;float:left;">
				<%= f.submit 'メモ欄 更新', :class=>"btn btn-primary" %>
			</div>
			
			
		</td>
	</tr>
</table>
  <% end %>

	<div style="clear:both;margin-top:50px;">

		<%= simple_form_for :owner_approach, :url=>{:controller => :managements, :action => :owner_approach_regist}  do |f| %>
			<%= f.input :owner_id, :as => :hidden, :input_html => {:value => @owner.id } %>
			<%= f.input :biru_user_id, :as => :hidden, :input_html => {:value => @biru_user.id } %>
	
			<table>
				<tr>
					<td><%= f.input :approach_date, label:'日付', placeholder: 'yyyy/mm/dd', :input_html => {:type => 'date', :style=>'width:120px;margin-left:0px;padding-left:0px;vertical-align:middle' } %></td>
					<td><%= f.input :approach_kind_id, label: '種別', collection: ApproachKind.find(:all), prompt: "--", :input_html => {:style=>'width:100px;margin-left:0px;padding-left:0px;vertical-align:middle' } %></td>
					<td><%= f.input :content, label: '内容', placeholder: 'アプローチ内容をいれてください', :input_html => {:class => 'input-large', :style=>'width:200px;vertical-align:botto'} %></td>
					<td><%= f.submit '登録', :class => 'btn-primary', :style=>'margin-bottom:20px;margin-left:20px;' %></td>
				</tr>
			</table>
		
			<%#= f.input :approach_date, label: '日付', as: :datepicker %>
		<% end %>

		<div style="padding-left:20px;padding-right:20px;margin-top:20px;width:850px;">
			<%= grid(@owner_approaches) do |g|
		 		g.column name: '' do |obj| link_to('削除',{:controller=>'managements', :action=>'owner_approach_delete', :id=>obj.id.to_s, :owner_id=>@owner.id.to_s}, :confirm => "削除します。よろしいですか？") end
		 		g.column name: 'アプローチ日' do |obj| obj.approach_date if obj.approach_date end
				g.column name: '種別' do |obj| obj.approach_kind.name if obj.approach_kind end
				g.column name: '内容' do |obj| obj.content if obj.content end
				g.column name: '登録者' do |obj| obj.biru_user.name if obj.biru_user end
				g.column name: '登録日' do |obj| obj.created_at if obj.created_at end
			end
			%>
		</div>
		
	</div>



